.about
  @include clearfix()
  padding: 10px 30px
  margin: 40px auto
  max-width: 1349px
  background-color: rgba(0,0,0,.75)
  color: #fff
  &__wrap
    background: url('../img/about.jpg') no-repeat center center/ cover
    margin: 2rem 0 1.8rem
  &__content
    float: left
    width: 600px
    position: relative
  &__aside
    float: right
    width: 518px
    margin-right: -10px
    position: relative
    margin-top: 19px
  &__content-caption
    margin: 15px 0 10px
    font-weight: bold
    font-size: 26px
  &__content-text
    margin: 13px 0
    font-size: 16px
    line-height: 1.45
  &__content-quote
    margin: 13px 0 27px
    padding: 14px 86px 19px 54px
    line-height: 1.45
    background-position: -2px 22px
    background-repeat: no-repeat
    font-size: 18px
    font-style: italic
    background-image: url("../img/red-quote.png")
  &__content-quote-who
    text-align: right
    margin: 8px -71px 2px 18px
    font-style: italic
  &__aside a 
    display: block
    float: left
    width: 50%
    padding: 0 10px
    margin: 1px 0 20px
    position: relative
    @include transparency()
  &__aside a img
    display: block
    width: 100%
    
.about-map 
  margin: 20px 0 95px
  position: relative
  height: 700px
.about-map-info 
  position: absolute
  top: 40px
  right: 144px
  z-index: 10
  width: 406px
  padding: 11px 41px 5px
  line-height: 1.7
  background-color: #fff
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.31)
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.31)
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.31)
.about-map-info p 
  color: #525252
  font-size: 16px
  margin: 20px 0 25px
  position: relative
.about-map-info p b 
  font-weight: bold
.about-map-info .tel 
  opacity: 1
  -webkit-transition: opacity .3s ease
  -moz-transition: opacity .3s ease
  -ms-transition: opacity .3s ease
  -o-transition: opacity .3s ease
  transition: opacity .3s ease
.about-map-info .tel, .about-map-info .tel:hover, .about-map-info .tel:focus, .about-map-info .tel:active, .about-map-info .tel:visited 
  color: inherit
  text-decoration: none
.about-map-info .tel:hover, .about-map-info .tel.active 
  opacity: .7

@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .about__aside
    width: 350px
  .about__content
    width: 600px

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .about
    padding-top: 5px
    background-color: rgba(0,0,0,.85)
    &__aside
      width: auto
    &__content
      width: auto
    &__content-caption
      font-size: rem24(40px)
    &__content-text
      margin: 32px 0
      font-size: 1rem
      line-height: 1.35
      .about__content-quote + &
        margin-top: -4px
    &__content-quote
      margin-bottom: 0
      font-size: 1rem
      line-height: 1.35
      .about__content-caption + &
        margin-top: -14px

@media (max-width: 640px)
  .about
    &__content-quote
      padding-right: 0
    &__content-quote-who
      margin-right: 0