.angucomplete
  &-dropdown
    position: absolute
    top: 100%
    left: 0
    background-color: $formBg
    border: $formBorder
    color: $formColor
    right: 8px
    max-height: 10rem
    z-index: 10
    overflow-y: auto
    padding: .5rem 0
  &-holder
    position: relative
  &-row
    padding: 3px 8px
    cursor: default
    background-color: transparent
    transition: all .3s ease
    &:hover
      background-color: #eaeaea
