.aside
  @include col($asideWidthXl)
  &__main-content
    margin-top: .85rem
    @include col($mainContainerXlWidth - $asideWidthXl)
  &__nav
    position: relative
    margin: 2.3rem 0
    &-a
      position: relative
      display: block
      padding: 15.5px 2px 15.5px 50px
      @include transparency
      @include color($asideNavLinkColor)
      & + .aside__nav-a
        border-top: 1px solid $asideNavBorderColor
      &-img
        position: absolute
        top: 11px
        left: 1px
        max-width: 30px
        display: inline-block
      &-txt
        position: relative
        display: inline-block
        text-transform: uppercase
        font-size: 1rem

@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .aside
    @include col($asideWidthXs)
    &__main-content
      @include col($mainContainerXsWidth - $asideWidthXs)