.bonus-line-wrapper
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 2000
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.21)
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.21)
  background: $bonusLine
  height: 49px
  &__unfixed
    position: relative
    bottom: -$footerSpace - 7px
.bonus-line
  width: $mainContainerMdWidth
.bonus-line-cart 
  height: 49px
  position: relative
  width: 471px
  float: left
  @include clearfix
  padding-left: 49px
  background-position: 0 5px
  background-repeat: no-repeat
  background-image: url("../img/bonus-line-cart.png")
  color: white
.bonus-line-cart-price 
  font-weight: bold
  font-size: 26px
  float: left
  margin: 7px 19px 0 13px
  color: $bonusColor
.bonus-line-cart-link 
  margin-top: 7px
  font-size: 26px
  text-decoration: none
  display: block
  position: relative
  float: left
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    display: none
.bonus-line-cart-link, .bonus-line-cart-link:hover, .bonus-line-cart-link:focus, .bonus-line-cart-link:active, .bonus-line-cart-link:visited 
  color: $linkColor
  text-decoration: none
.bonus-line-cart-link:before 
  content: ''
  position: absolute
  display: block
  bottom: 3px
  left: 5px
  right: 2px
  border-bottom: 1px dashed $linkColor
.bonus-line-cart-link:hover:before 
  border-bottom-color: transparent
.bonus-line 
  padding-top: 0
  padding-bottom: 0
.bonus-line-content 
  margin-left: 471px
  position: relative
  height: 49px
  background-color: $bonusPassive
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    display: none
.bonus-line-progress 
  position: absolute
  top: 0
  left: 0
  height: 49px
  background-color: $bonusActive
  -webkit-transition: width 300ms ease
  -moz-transition: width 300ms ease
  -ms-transition: width 300ms ease
  -o-transition: width 300ms ease
  transition: width 300ms ease
.bonus-line-progress-border 
  font-size: 14px
  font-weight: bold
  width: 49px
  text-align: center
  color: white
  display: inline-block
  border-bottom: 2px dotted white
  -webkit-transform: rotate(270deg)
  -moz-transform: rotate(270deg)
  -ms-transform: rotate(270deg)
  -o-transform: rotate(270deg)
  transform: rotate(270deg)
  top: 16px
  margin-right: -20px
  position: absolute
.bonus-line-progress-border-1 
  right: 50%
.bonus-line-progress-border-2 
  right: 25%
.bonus-line-progress-border-3 
  right: 0
  border-bottom-color: transparent
.bonus-line-progress-link 
  color: white
  font-size: 26px
  text-decoration: none
  display: inline-block
  margin: 7px 18px 10px
  position: relative
  font-weight: bold
.bonus-line-progress-link:before 
  content: ''
  position: absolute
  display: block
  bottom: 3px
  left: 2px
  right: 2px
  border-bottom: 1px dashed white
.bonus-line-progress-link:hover, .bonus-line-progress-link:focus, .bonus-line-progress-link:visited, .bonus-line-progress-link:active 
  color: white
  text-decoration: none
.bonus-line-progress-link:hover:before 
  border-bottom-color: transparent
.bonus-line-content-modal 
  position: absolute
  -webkit-border-radius: 24px
  -moz-border-radius: 24px
  border-radius: 24px
  -webkit-box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
  box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
  bottom: 69px
  right: 0
  width: 892px
  z-index: 99
  background: $modalBg
  border: 1px solid $modalBorder
  color: $modalFontColor
  padding: 1rem
  .chef-gift-caption span
    background: $modalBg
    color: $modalFontColor
  .chef-gift-caption:before
    border-color: $modalBorderSecondary
.bonus-line-content-modal:before 
  content: ''
  position: absolute
  bottom: -26px
  left: 142px
  border-left: 17px solid transparent
  border-right: 17px solid transparent
  border-top: 29px solid $modalBg
.modal-close 
  position: absolute
  top: 10px
  right: 10px
  border: none
  background-color: transparent
  background-image: url("../img/close-2.png")
  height: 21px
  width: 21px
  background-position: 0 0
  background-repeat: no-repeat
  cursor: pointer
  opacity: .7
  -webkit-transition: opacity 300ms ease
  -moz-transition: opacity 300ms ease
  -ms-transition: opacity 300ms ease
  -o-transition: opacity 300ms ease
  transition: opacity 300ms ease
  -webkit-border-radius: 21px
  -moz-border-radius: 21px
  border-radius: 21px
  padding: 0
.modal-close:hover 
  opacity: 1
.bonus-line-content-modal-top-img 
  float: left
  height: 125px
  width: 125px
  -webkit-border-radius: 125px
  -moz-border-radius: 125px
  border-radius: 125px
  margin-left: 17px
.bonus-line-content-modal-top-img img 
  display: block
  height: 135px
  width: 135px
  -webkit-border-radius: 135px
  -moz-border-radius: 135px
  border-radius: 135px
  text-align: center
  vertical-align: middle
.bonus-line-content-modal-top-info 
  margin-left: 170px
  margin-top: 26px
.bonus-line-content-modal-top-info-caption 
  font-weight: bold
  font-size: 18px
  margin-bottom: 5px
  color: $modalFontColor
.bonus-line-content-modal-top-info-text 
  font-size: 14px
  line-height: 1.6
.bonus-line-content-modal-bottom-item 
  float: left
  width: 270px
  @include clearfix()
  position: relative
.bonus-line-content-modal-bottom-item-caption 
  color: #9a9a9a
  font-weight: bold
  margin-bottom: 9px
.bonus-line-content-modal-bottom-item-content-item 
  display: block
  text-decoration: none
  float: left
  width: 70px
  margin-right: 10px
.bonus-line-content-modal-bottom-item-content-item img 
  height: 40px
  width: 40px
  margin-bottom: 6px
  display: block
.bonus-line-content-modal-bottom-item-content-item span 
  display: inline-block
  border-bottom: 1px dashed #f4585d
  line-height: 0.9
  font-size: 14px
.bonus-line-content-modal-bottom-item-content-item:hover span 
  border-bottom-color: transparent
.bonus-line-content-modal-top 
  margin-bottom: 12px
  @include clearfix()
.bonus-line-content-modal-bottom 
  //margin-right: -40px
  //margin-bottom: 15px
  @include clearfix()
.bonus-line-content-modal-bottom-item:before 
  content: ''
  height: 79px
  width: 1px
  position: absolute
  left: -23px
  top: 27px
  background-color: #cfcfcf
  display: block
.bonus-line-content-modal-bottom-item:first-child:before 
  display: none
  
.bonus-line-content-modal-bottom .chef-gift-caption 
  margin-right: 40px
.bonus-line-content-modal.cart-modal 
  width: 679px
  left: 0px
  z-index: 100
  color: #353535 !important
  padding: 1rem
.bonus-line-content-modal.cart-modal .table-order-name 
  width: 250px
  font-size: 16px
  vertical-align: middle
  padding: 0.25rem 0
  border-color: $modalBorderSecondary
  color: $modalFontColor
.bonus-line-content-modal.cart-modal .table-order-num 
  width: 83px
  font-size: 16px
  vertical-align: middle
  padding: 0.25rem 0
  border-color: $modalBorderSecondary
  color: $modalFontColor
.bonus-line-content-modal.cart-modal .table-order-price 
  width: 31px
  font-size: 16px
  vertical-align: middle
  padding: 0.25rem 0
  border-color: $modalBorderSecondary
  color: $modalFontColor
.bonus-line-content-modal.cart-modal .table-order-sum 
  width: 50px
  font-size: 16px
  vertical-align: middle
  padding: 0.25rem 0
  border-color: $modalBorderSecondary
  color: $modalFontColor
.bonus-line-content-modal.cart-modal:before 
  left: 103px
.bonus-line-content-modal.cart-modal .bonus-line-content-modal-bottom 
  margin-right: -10px
.bonus-line-content-modal.cart-modal .enter-btn 
  margin: 12px 0 4px
  padding: 7px 41px 9px
.bonus-line-content-modal.cart-modal .bonus-line-content-modal-top-info-caption 
  font-weight: normal
  font-size: 26px
  margin-bottom: -15px
  color: $modalFontColor
.bonus-line-content-modal-bottom .table>thead>tr>th
  padding-top: 0
  color: $modalFontColorSecondary
  border-color: $modalBorderSecondary
.bonus-line-cart-btn
  display: none

.num-minus,
.num-plus
  background-color: #737373
  -webkit-border-radius: 21px
  -moz-border-radius: 21px
  border-radius: 21px
  color: #fff !important
  height: 21px
  width: 21px
  line-height: 21px
  font-size: 18px
  margin: 8px 2px
  text-align: center
  display: inline-block
  text-decoration: none
  opacity: .9
  position: relative
.num-minus:hover, .num-plus:hover 
  opacity: 1
.num-plus 
  line-height: 21px
.num-minus 
  line-height: 21px
.table-order-num span 
  display: inline-block
  text-align: center
  line-height: 21px
  margin: 8px 0
.num-minus:active, .num-plus:active 
  outline: none
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
.table-order-price 
  width: 92px
.table-order-name a
  display: inline-block
  text-decoration: none
  position: relative
  margin-top: 8px

.table-order-name img
  display: block
  float: left
  height: 44px
  width: 44px
  margin-right: 10px

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .bonus-line-wrapper
    padding: 13px 0 9px 0
    height: auto
    background: $mobileCartMinBg
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.6)
  .bonus-line-cart
    width: 100%
    height: auto
  .bonus-line-cart-price
    margin-top: 3px
    line-height: 1
    font-size: rem24(40px)
    font-weight: 400
    color: $bonusColor
    border-bottom: 2px dashed $bonusColor
  .bonus-line-cart-btn
    display: block
    float: right
  .bonus-line-content-modal
    border-radius: 0
    &.cart-modal
      position: static
      padding: 0
      clear: both
      background: none
      box-shadow: none
      border: 0
      margin-left: -49px
      width: calc(60px + 100%)
      &:before
        display: none
      .bonus-line-content-modal-top
        display: none
      .bonus-line-content-modal-bottom
        margin-right: 0
      table
        thead
          display: none
      .table-order-name img
        display: none
      .table-order-name a
        color: $bonusColor
        font-size: 1rem !important
      .num-minus, .num-plus, span
        color: $bonusColor !important
      .table-order-price
        display: none
      .table-order-sum
        display: none
      table + .text-right .enter-btn
        display: none
  .cart-modal
    .modal-close
      display: none
  .num-minus,
  .num-plus
    vertical-align: middle
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    height: rem24(21px)
    width: rem24(21px)
    line-height: rem24(21px)
    font-size: rem24(18px)
    margin: rem24(8px) 2px
  .table-order-num span
    vertical-align: middle
    line-height: rem24(21px)
    margin: rem24(8px) 0
  .bonus-line-content-modal.cart-modal .table-order-name
    width: 75%
    padding-right: 3%
  .bonus-line-content-modal.cart-modal .table-order-num
    width: auto
    padding: 0 14px 0 0

@media (max-width: 640px)
  .bonus-line-cart
    background-position: 0 0
    min-height: 37px
  .bonus-line-cart-price
    margin: vw(14px) vw(19px) 0 0
    font-size: vw(45px)
  .bonus-line-cart-btn
    padding: vw(7px) vw(18px) vw(9px)

@media (max-width: 380px)
  .bonus-line-cart-btn
