.delivery
  margin: 0 auto 2rem
  width: $mainContainerXsWidth
  padding: 0 $mainGutter
  &__logo 
    margin: 0 0 20px
    a
      @include transparency()
      display: inline-block
  &__top 
    position: relative
    margin: 1px 0 2px
    @include clearfix()
    &-left
      float: left
      width: 655px
  &__caption 
    margin: 0 0 1.6rem
    font-size: 26px
    font-weight: bold
  &__sub-caption 
    margin: 8px 0
    font-size: 16px
    font-weight: bold
  &__list 
    list-style: none
    padding: 0
    margin: 8px 0 27px
    font-size: 16px
    li
      margin: 1px 0 7px
  &__top-right 
    float: right
    width: 230px
    background-repeat: no-repeat
    background-position: 0px 4px
    padding: 71px 0 0
    font-size: 14px
    line-height: 1.5
    color: #737373
    font-style: italic
    background-image: url(../img/delivery__top-right.png)

  &__table tr th:nth-child(2),
  &__table tr td:nth-child(2)
    text-align: right
    padding-right: 40px!important
  &__table 
    margin: 20px 0
    width: 100%
  &__table.table > tbody > tr > td
    font-size: 13px
    padding: 6px 0
    @include clearfix()
  &__table.table > tbody > tr > td span 
    display: block
    margin: 2px 0 4px 31px
  &__table.table > thead > tr > th 
    vertical-align: bottom
    border-bottom: 1px solid #fff
    font-size: 14px
    padding: 7px 0

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .delivery
    width: 100%
    &__top
      &-left
        float: none
        width: auto
    &__top-right
      float: none
      width: auto
    &__table.table > tbody > tr > td:last-of-type
      width: 35%

.dot
  display: inline-block
  margin: 0 10px 0 0
  height: 21px
  position: relative
  font-size: 21px
  top: 4px
  line-height: 21px
  width: 21px
  -webkit-border-radius: 21px
  -moz-border-radius: 21px
  border-radius: 21px
  float: left
  &-blue
    background-color: #28a1e4
  &-green
    background-color: #6be660
  &-orange
    background-color: #fecc3b
  &-red
    background-color: #e95616
