.dont-work-screen
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: none
  -webkit-overflow-scrolling: touch
  outline: 0
  overflow-x: hidden
  overflow-y: auto
  background-color: rgba(0, 0, 0, 0.85)
  font-family: 'Arial', sans-serif
  color: white
  height: 100%
  z-index: 9999
  width: 100%
  &__is-open
    overflow: hidden
    .dont-work-screen
      display: table
  &__dialog
    position: relative
    display: table-cell
    vertical-align: middle
  &__content
    width: 696px
    margin: auto
    padding: .5rem .5rem .5rem 223px
    background: url("../img/dont-work-screen__dialog.png") no-repeat 0 center
    min-height: 184px
  &__caption
    font-size: 26px
    font-weight: bold
    margin: 13px 0
  &__text
    font-size: 18px
    margin: 13px 0
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    &__content
      width: auto
      padding: 20px
      background: none