@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic-ext')

@font-face
  font-family: 'Appetite'
  src: url('../fonts/Appetite.eot')
  src: url('../fonts/Appetite.woff2') format('woff2'), url('../fonts/Appetite.woff') format('woff'), url('../fonts/Appetite.ttf') format('truetype'), url('../fonts/Appetite.svg#Appetite') format('svg'), url('../fonts/Appetite.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal
