.hfooter
  height: $footerHeightXl+$footerSpace
  clear: both
.footer-wrapper
  height: $footerHeightXl
  position: absolute !important
  left: 0
  bottom: 0
  width: 100%
  background: $footerBg
  color: $footerFontColor
.footer
  height: $footerHeightXl
  width: $mainContainerMdWidth
.footer a
  color: $footerLinksColor !important
.footer-copy-tel
  float: left
  padding: 57px 0 0 0
  padding-left: $footerLogoWidthXl+20px
  width: 468px
  font-weight: 700
  font-size: 18px
  background-image: url('../img/logo-2.png')
  background-repeat: no-repeat
  background-position: 0 59px
  min-height: 80px
.footer-copyright
  margin-bottom: 1px
  font-size: 18px
  font-weight: bold
.footer-copyright-description
  font-size: 11px
  margin-top: 2px
  margin-bottom: 14px
.footer-tel
  margin-top: 14px
.footer-tel .header-tel
  color: #353535
  font-weight: bold
  font-size: 18px
  @include color(inherit)
  @include transparency()
.footer-schedule
  font-size: 12px
  letter-spacing: -0.1px
.footer-politics
  margin-top: 14px
  font-size: 12px
  line-height: 1.4
.footer-politics a
  display: inline-block
  text-decoration: underline
.footer-politics a:hover
  text-decoration: none
.footer-pay-social
  float: left
  margin: 55px 0 0 22px
  width: 400px
  font-weight: bold
  font-size: 18px
  line-height: 1.4
.footer-pay
  background-position: 0 4px
  background-repeat: no-repeat
  padding: 1px 1px 1px 91px
  background-image: url("../img/footer__pay.png")
  font-size: 12px
  margin-bottom: 17px
  min-height: 30px
.footer-social
  position: relative
.footer-social a
  position: relative
  display: inline-block
  padding: 0 2px
  text-decoration: none
  vertical-align: middle
  margin-left: 24px
.footer-social a:first-child
  margin-left: 0
.footer-social a:hover, .footer-social a:focus, .footer-social a:active, .footer-social a:visited
  text-decoration: none
.footer-social a img
  display: inline-block
  height: 36px
  width: 36px
  vertical-align: middle
.footer-social a span
  vertical-align: middle
  text-decoration: underline
  display: inline-block
  font-size: 16px
  font-weight: bold
  padding-left: 9px
  position: relative
  top: -1px
.footer-social a:hover span
  text-decoration: none
.footer-superdostavka
  display: block
  float: right
  margin: 59px -10px 0 0
  position: relative
  text-decoration: none
  width: 210px
  min-height: 60px
  line-height: 1.3
  padding: 9px 1px 1px 62px
  background-image: url("../img/footer__superdostavka.png")
  background-position: 0 0
  background-repeat: no-repeat
  font-size: 14px
  color: inherit
.footer-superdostavka:hover, .footer-superdostavka:focus, .footer-superdostavka:active, .footer-superdostavka:visited
  text-decoration: none
  color: inherit
.footer-superdostavka strong
  font-weight: bold
  text-decoration: underline
.footer-superdostavka strong, .footer-superdostavka strong:hover, .footer-superdostavka strong:focus, .footer-superdostavka strong:active, .footer-superdostavka strong:visited
  color: $linkColor
.footer-superdostavka:hover strong
  text-decoration: none


@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .footer-wrapper, .footer
    height: $footerHeightXs
  .hfooter
    height: $footerHeightXs+$footerSpace
  .footer
    padding-top: 16px
  .footer.container
    width: 100%
    min-width: 1000px
  .footer-copy-tel
    padding: 30px 0 0 0
    width: 50%
    background-image: none !important
    position: relative
  .footer-copy-tel:before, .footer-copy-tel:after
    content: ''
    display: table
  .footer-copy-tel:after
    clear: both
  .footer-col-1
    float: left
    width: 50%
    opacity: .7
  .footer-col-2
    float: left
    width: 50%
    opacity: .7
  .footer-politics
    display: none
  .footer-pay
    display: block
    margin-bottom: 3px
    padding-top: 2px
    font-size: 11px
  .footer-pay-social
    float: left
    width: 25%
    margin-top: 20px
  .footer-copyright
    margin-top: -3px
  .footer-copyright-description
    margin-left: 0
  .footer-tel
    margin-top: -3px
  .footer-schedule
    font-size: 14px
    margin-top: 9px
    font-weight: normal
    letter-spacing: 0
  .footer-social
    opacity: .7
  .footer-social a
    margin: 3px 0 0
    font-size: 14px
  .footer-social a img
    height: 17px
    width: 17px
  .footer-social a span
    font-weight: bold
    font-size: 16px
  .footer-superdostavka
    margin-top: 18px
    opacity: .7
  .footer-superdostavka strong
    color: $linkColor

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .footer.container
    min-width: 350px

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .footer, .footer-wrapper
    height: auto
  .footer.container
    min-width: 1px
  .footer-copy-tel
    float: none
    width: auto
    font-size: rem24(24px)
  .footer-tel .header-tel
    font-size: rem24(24px)
  .footer-col-1, .footer-col-2
    float: none
    width: auto
  .footer-col-1
    margin-bottom: 18px
  .footer-col-2
    margin-bottom: 18px
  .footer-schedule
    font-size: rem24(24px)
    margin-top: 1px
  .footer-copyright
    font-size: rem24(24px)
  .footer-copyright-description
    font-size: rem24(24px)
    margin-bottom: 0
  .footer-politics
    display: block
    margin-top: 0
    font-size: rem24(18px)
  .footer-pay-social
    float: none
    width: auto
    margin: 18px 0 0
    opacity: .7
  .footer-pay
    font-size: rem24(18px)
  .footer-social
    margin: 22px 0 0
    border-top: $headerColBorder
    a
      width: auto
      margin-top: 40px
      span
        font-size: rem24(24px)
      img
        height: 55px
        width: 55px
  .footer-superdostavka
    float: none
    width: auto
    margin: 42px 0 0
    padding-top: 42px
    padding-bottom: 42px
    border-top: $headerColBorder
    font-size: rem24(24px)
    background-position: 0 50%

@media (max-width: 640px)
  .footer-col-1
    margin-bottom: vw(18px)
  .footer-col-2
    margin-bottom: vw(18px)
  .footer-pay-social
    margin-top: vw(18px)
  .footer-social
    margin-top: vw(22px)
    a
      margin-top: vw(40px)
      img
        height: vw(55px)
        width: vw(55px)
  .footer-superdostavka
    margin-top: vw(42px)
    padding-top: vw(42px)
    padding-bottom: vw(42px)