.progress 
  height: 60px
  margin-bottom: 0
  background-color: #5d3234
  border-radius: 0px
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
.progress-bar 
  background-color: #ba2a32
.progress-info 
  position: absolute!important
  height: 60px
  width: 666px
  top: 0
.progress-info a 
  font-weight: bold
  font-size: 26px
  border-bottom: 2px dotted white
  color: white
  text-decoration: none
  margin-top: 15px
  margin-left: 22px
  display: inline-block
  line-height: 24px
  position: relative
.progress-info a:hover 
  border-bottom: 2px dotted transparent
  color: white
  text-decoration: none
.progress-info span 
  font-size: 14px
  font-weight: bold
  width: 60px
  text-align: center
  color: white
  display: inline-block
  border-bottom: 2px dotted white
  transform: rotate(270deg)
  top: 21px
  position: absolute
span.degree1 
  right: 419px
span.degree2 
  right: 219px
span.degree3 
  right: -23px
  border-bottom: none
.cart-preview-left 
  width: 294px
  height: 60px
  background: #abacad
.prod-caption p 
  font-size: 14px
  font-style: italic
  color: #9a9a9a
  text-align: left
.modal-link, .modal-parent 
  position: relative
.modal-backdrop 
  z-index: 100
  background-color: transparent
  position: relative
div.modal-backdrop.in 
  opacity: 0
.your-bonus 
  top: -320px
  left: -340px
  width: 817px
  max-width: 817px
.your-bonus .arrow 
  left: 372px!important
.your-bonus .popover-title img.img-circle.left 
  margin-right: 19px
  margin-left: 5px
  margin-top: 3px
.your-bonus .popover-title h5 
  margin-top: 40px
.your-bonus .popover-title p 
  line-height: 21px
.your-bonus .popover-content 
  padding-right: 0
.popover-content
  .thumbnail__caption,
  .thumbnail__description,
  .thumbnail__weight
    color: $modalFontColor
.bonus-dish-box 
  width: 267px
  margin-bottom: 6px
  float: left
  border-right: 1px solid #cfcfcf
.your-bonus .popover-content :last-child 
  border-right: none
.popover.your-bonus.y-b3
  left: -538px
.popover.your-bonus.y-b3 .arrow
  left: 572px!important
.bonus-dish-box-tile 
  font-weight: bold
  font-size: 18px
  line-height: 34px
  margin-left: 9px
.bonus-dish-item>img
  height: 55px
  width: 55px
  display: inline-block
  margin-bottom: 7px
.bonus-dish-item 
  float: left
  width: 82px
  text-align: center
  position: relative
.bonus-dish-item a 
  color: #06b1f1
  font-size: 14px
  font-style: italic
  text-decoration: none
  margin-left: 0
  border-bottom: dotted 1px #06b1f1
  display: inline
  line-height: 20px
.bonus-dish-item a:hover 
  color: #06b1f1
  text-decoration: none
  border-bottom: dotted 1px transparent
div.popover.your-bonus.y-b2 
  left: -104px
div.popover.your-bonus.y-b2 .arrow 
  left: 178px!important
.popover 
  border-radius: 22px
  box-shadow: rgba(0, 0, 0, 0.22) 0px 8px 20px
  border: none
.popover-title 
  background-color: white
  border-bottom: none
  border-radius: 22px 22px 0 0
.top-position 
  top: -50px!important
.popover.your-bonus-details 
  top: -436px
  left: 40px
  width: 334px
  max-width: 334px
  display: none
  position: absolute
  background-color: $modalBg
.popover.your-bonus-details.active 
  display: block
  z-index: 99999
.sr-only 
  display: none
.progress.active .progress-bar 
  -webkit-animation: progress-bar-stripes 2s linear infinite
  animation: progress-bar-stripes 2s linear infinite
  height: 60px
.close-details 
  float: right
  font-size: 21px
  font-weight: 700
  line-height: 1
  text-shadow: 0 1px 0 #fff
  opacity: .2
  filter: alpha(opacity=20)
  color: $modalFontColor
  height: 22px
  width: 22px
  -webkit-border-radius: 21px
  -moz-border-radius: 21px
  border-radius: 21px
  background-color: #615858!important
  font-size: 28px
  font-weight: 100
  line-height: 1px
  text-shadow: none
  letter-spacing: 0px
  padding: 0
  cursor: pointer
  background: 0 0
  border: 0
  -webkit-appearance: none
  border: $modalBg 10px solid!important
  height: 42px
  width: 42px
  position: absolute
  top: 0
  right: 0
  opacity: 1
  background-color: $modalBg!important
  border-right: none
  z-index: 1
.your-bonus-details .u-thumbnail 
  background-color: transparent
.your-bonus-details .u-thumbnail img 
  height: 294px
  width: 294px
  border-radius: 22px
.your-bonus-details .popover-content 
  padding: 0
  background-color: transparent
.your-bonus-details button.close, .big-picture button.close
  border: white 10px solid!important
  height: 42px
  width: 42px
  position: absolute
  top: 0
  right: 0
  opacity: 1
  background-color: #cfcfcf!important
  z-index: 1
.your-bonus-details .caption.prod-caption 
  padding: 9px 20px 0px 20px!important
  background-color: transparent
.your-cart 
  top: -334px
  left: -176px
  width: 818px
  max-width: 818px
.your-cart .arrow 
  left: 226px!important
.your-cart .cart-image, .your-cart .btn-2d-state a 
  border-bottom: none
a.delete-row 
  text-decoration: none
  border-bottom: 2px dotted #9a9a9a
  color: #9a9a9a
  padding-left: 20px
  background-repeat: no-repeat
  background-position: 3px 4px

.promo-left 
  float: left
  width: 513px
.promo-left h1 
  font-family: "Times New Roman"
  font-size: 69px
  font-weight: 100
  margin-top: 50px
  margin-bottom: 52px
  color: $linkColor
.promo-left p 
  color: white
  font-size: 16px
  line-height: 24px
.promo-right 
  float: right
.promo-right img 
  margin-top: 48px
  margin-right: 24px
  box-shadow: #5d3234 0px 0px 150px
div.page-wrapper.promo .progress-info a 
  border-bottom: none
  cursor: default
div.page-wrapper.promo .bonus 
  margin-top: 252px
  margin-bottom: 252px
div.page-wrapper.promo .bonus-dish-box .bonus-dish-box-tile 
  color: $linkColor
.bonus-dish-box.two 
  width: 267px
  margin-bottom: 6px
  float: left
  border-right: 1px solid #cfcfcf
  padding-bottom: 24px
  margin-left: 359px
  margin-top: 88px
  position: absolute
.bonus-dish-box.one 
  width: 267px
  margin-bottom: 6px
  float: left
  border-right: 1px solid #cfcfcf
  padding-top: 24px
  margin-left: 54px
  margin-top: 312px
  position: absolute
.bonus-dish-box.three 
  width: 267px
  margin-bottom: 6px
  float: left
  border-right: 1px solid #cfcfcf
  padding-top: 24px
  margin-left: 693px
  margin-top: 312px
  position: absolute
div.page-wrapper.promo .bonus-dish-item img.img-circle
  box-shadow: #1F00FF 0px 0px 150px
div.page-wrapper.promo .bonus-dish-item a:hover 
  color: white
  text-decoration: none
  border-bottom: dotted 1px transparent
div.page-wrapper.promo .bonus-dish-item a 
  color: white
  text-decoration: none
  border-bottom: dotted 1px white
.img-circle 
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
.bonus 
  margin-left: -3px
  margin-bottom: 226px
  margin-top: 254px
  position: relative
  background: #e0e0e0
.bonus .progress-info 
  width: 960px
.bonus .progress-info span.degree1 
  right: 615px
.bonus .progress-info span.degree2 
  right: 309px
.progress-striped .progress-bar
  background-size: 40px 40px
.chef-gift-page-wrap .chef-gift-caption 
  margin-top: 17px
  margin-bottom: 18px
.chef-gift-page-wrap .chef-gift-item 
  width: 300px
.chef-gift-page-wrap .chef-gift-item-img 
  height: 120px
  width: 120px
.chef-gift-page-wrap .chef-gift-item-info 
  height: 120px
.chef-gift-page-wrap .chef-gift-item 
  margin-bottom: 19px
