.header
  padding-top: $headerPaddingTop
  padding-bottom: $headerPaddingBottom
  background: $headerBg
  @media (max-width: 640px)
    padding: vw(25px) 0
  .container
    width: $mainContainerMdWidth
  &__logo
    @include col($logoWidth)
    @include transparency()
    display: block
    text-align: left
    position: absolute
    top: 0
    left: 0
    bottom: 0
    @media (max-width: 640px)
      position: static !important
      width: 45% !important
    /*@media (max-width: 540px)
      width: 200px !important*/
    img
      display: inline-block
      max-width: 100%
      vertical-align: middle
      max-height: 100%
      @media (max-width: 640px)
        width: 100%
        max-height: 999px
  &__cols-wrap
    position: relative
    display: block
    margin-left: $logoWidth+$mainGutter*2
    margin-right: $mainGutter
    @include clearfix()
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      margin-right: $mobileGutter
    @media (max-width: 640px)
      margin-left: calc(45% + 10px)
    /*@media (max-width: 540px)
      margin-left: 200px
      margin-right: 0*/
  &__cols
    position: relative
    display: table
    border-spacing: 0
    border-collapse: collapse
    table-layout: auto
    float: right
  &__col
    display: table-cell
    border-left: $headerColBorder
    padding: $headerColPadding
    vertical-align: top
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      &:nth-of-type(1), &:nth-of-type(3)
        display: none
    @media (max-width: 640px)
      padding-right: 0
  &__cols &__col:first-child
    border: none
    padding-left: 0
  &__cols &__col:last-child
    padding-right: 0
  &__login
    position: relative
    display: block
    //width: $headerLoginWidth
    width: auto
    min-height: $headerLoginBgHeight
    padding: 1px 0 0 39px
    text-align: left
    font-size: 1.2rem
    line-height: $headerLoginBgHeight
    font-weight: bold
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    background: $headerLoginBg
    &,
    &:hover
      text-decoration: none
    i
      display: block
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-style: normal
      position: relative
      max-width: 100%
      //max-width: $headerLoginWidth
      //top: 1px
      //right: 0
      //left: $headerLoginBgWidth+10px
      &:before
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 1px
        width: 100%
        background-color: $linkColor
        display: block
    &:hover i:before
      display: none
    span
      position: relative
      display: block
      @include color($mainFontColor)
      font-size: .8rem
      margin-top: 0.2rem
  &__tel
    display: inline-block
    height: $headerTelBgHeight
    padding-left: $headerTelBgWidth+10px
    white-space: nowrap
    font-size: 1.2rem
    font-weight: bold
    vertical-align: bottom
    line-height: $headerTelBgHeight
    background: $headerTelBg
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      @include font-size-rem(30)
    @media (max-width: 640px)
      font-size: vw(30px)
      height: auto
      line-height: 0.9
    /*@media (max-width: 460px)
      font-size: 18px*/
  &__schedule
    display: inline-block
    margin-left: $headerTelBgWidth+10px
    font-size: .7rem
    white-space: nowrap
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      @include font-size-rem(18)
    @media (max-width: 640px)
      margin-top: 0.5em
      margin-left: 0
      font-size: vw(27px)
      text-decoration: underline
    /*@media (max-width: 460px)
      font-size: 12px*/
  &__img
    position: relative
    display: inline-block
    text-align: center
    img
      max-width: 100%
  &__tis
    display: block
    //width: 306px
    padding: 0 0 2px 78px
    background: url("../img/header__tis.png") no-repeat left center
    position: relative
    color: $headerTeaserColor
    min-height: 59px
    &-caption
      text-transform: uppercase
      font-weight: 300
      font-size: $headerTeaserFontSize
      line-height: 1.2
      margin-bottom: .2rem
      max-width: 11.35rem
    &-content
      font-size: .7rem
      line-height: 1.2
      white-space: nowrap
      a
        //@include color(inherit)
        color: $headerCaptionLinksColor
        line-height: 1

@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .header
    &__col
      vertical-align: middle
    &__logo
      @include col($logoWidthSm)
      position: absolute
      top: 0
      bottom: 0
      &:before
        display: inline-block
        height: 100%
        vertical-align: middle
        content: ""
    &__tis,
    &__login,
    &__tel,
    &__schedule
      padding-left: 0
      background: none !important