@media only screen and (max-width : 1040px)
  .modal-auth .remind-password
    position: inherit
    margin-top: 30px
.b-lk-content
  padding-right: 30px
  @media only screen and (max-width : 1040px)
  	.boxBirthday
		input
		  width: 100%
		  font-size: 18px
		  border: 1px solid #ccc
		  margin-bottom: 10px
		  padding: 7px
		button
		  border: 1px solid #ccc
    margin-bottom: 0
  @media only screen and (max-width : 768px)
    min-height: auto
  @media only screen and (max-width : 500px)
    margin-bottom: 0
  @media only screen and (max-width : 400px)
    margin-bottom: 0
  @media only screen and (max-width : 350px)
    margin-bottom: 0
.history-order-item table.table>tbody>tr>td
  font-size: 20px	
.b-lk-table
  .tab-col-name
    padding-left: 30px !important
  @media only screen and (max-width : 500px)
    width: 453px
  @media only screen and (max-width : 400px)
    .tab-col-name
      width: 214px !important
.b-personal-bonus
  @media only screen and (max-width : 992px)
    float: none
    clear: both
    +b-flex
    border: none
    width: auto
    padding-left: 100px
    padding-top: 14px
    border-top: 1px dashed #4c4646
    border-bottom: 1px dashed #4c4646
    margin-top: 195px
    .personal-bonus-number
      font-size: 18px
      background-size: 20px
      line-height: 20px
      padding-left: 27px
      margin-left: 20px
  @media only screen and (max-width : 400px)
    +b-block
    .personal-bonus-number
      margin-left: 23px
.b-personal
  @media only screen and (max-width : 992px)
    .personal-info
      width: auto
.p-bonus
  @media only screen and (max-width : 768px)
    &__info
      float: none
      clear: both
      padding-top: 10px
      background-position: 2px 12px
      padding-left: 27px
      max-width: none
    &__head-cashback
      max-width: none
    &__sectors b
      font-size: 10px
  @media only screen and (max-width : 400px)
    &__sector
      &:nth-child(3)
        width: 21% !important
    &__sectors b
      font-size: 9px


.b-history-order-item
  @media only screen and (max-width : 600px)
    .history-order-item-delivery
      float: none
      clear: both
      padding-top: 10px
      background-position: 0 12px
  @media only screen and (max-width : 500px)
    .content-table
      overflow-x: scroll
  @media only screen and (max-width : 400px)
    .total-discount-price
      font-size: 18px
.b-personal-info
  @media only screen and (max-width : 500px)
    &__content
      .personal-info-contact-content a
        font-size: 15px
