.breadcrumbs
  margin: 18px 0 0
  font-size: 16px
.breadcrumbs a
  display: inline-block
.breadcrumbs span
  display: inline-block
  color: inherit
.breadcrumbs + h1
  margin-top: 4px
.personal
  position: relative
  margin: 34px 0 48px
  position: relative
  font-family: 'Roboto', sans-serif
.personal:before
  content: ''
  display: table
.personal:after
  content: ''
  display: table
  clear: both
.personal-info
  width: 700px
  @include clearfix
  float: left
  &__img
    position: relative
    float: left
    width: 80px
    text-align: center
    margin: 3px 0
    img
      display: inline-block
      max-height: 100%
      max-width: 80px
      border-radius: 80px
  &__content
    margin-left: 101px

.personal-info-name
  font-weight: bold
  font-size: 22px
  margin-bottom: 13px
.personal-info-contacts
  position: relative
.personal-info-contacts:before
  content: ''
  display: table
.personal-info-contacts:after
  content: ''
  display: table
  clear: both
.personal-info-contact
  float: left
  margin-right: 28px
  margin-bottom: 9px
.personal-info-contact-caption
  font-size: 12px
.personal-info-contact-content
  margin-top: 6px
  font-size: 22px
  position: relative
.personal-info-contact-content a
  opacity: 1
  transition: opacity 300ms ease
  color: inherit
  text-decoration: none
.personal-info-contact-content a:hover
  text-decoration: none
  color: inherit
  opacity: 0.7
.personal-info-contact-content a:focus
  text-decoration: none
  color: inherit
.personal-info-contact-content a:active
  text-decoration: none
  color: inherit
.personal-info-contact-content a:visited
  text-decoration: none
  color: inherit
.personal-info-link
  margin: 1px 0 2px
  font-size: 16px
.personal-info-link a
  display: inline-block
  text-decoration: none
  color: $linkColor
  position: relative
.personal-info-link a:before
  content: ''
  position: absolute
  border-bottom: 1px dashed $linkColor
  left: 0
  right: 0
  bottom: 2px
.personal-info-link a:hover
  text-decoration: none
.personal-info-link a:hover:before
  display: none
.personal-bonus
  float: right
  width: 187px
  background-color: $personalBonusBg
  margin-top: 0
  padding: 7px 10px 10px 19px
  border-left: 2px solid $personalBonusLeftBorderColor
  color: #353535
.personal-bonus-caption
  font-size: 16px
  color: $personalBonusColor
  margin-bottom: 6px
.personal-bonus-number
  padding-left: 52px
  background-repeat: no-repeat
  background-position: 0 0
  background-image: url("../img/personal-bonus-number.png")
  padding-top: 0
  color: $personalBonusColor
  font-size: 42px
  line-height: 47px
.history-order-item
  position: relative
  margin: 31px 0 54px
.history-order-item .content-table
  margin: 15px 0 0
.history-order-item .content-table td.tab-col-name
  width: 576px
.history-order-item .content-table td.tab-col-num
  text-align: left
.history-order-item td.tab-col-num span
  margin: 1px 3px
.history-order-item .history-order-item-head
  position: relative
  margin: 0 0 2px
.history-order-item .history-order-item-head:before
  content: ''
  display: table
.history-order-item .history-order-item-head:after
  content: ''
  display: table
  clear: both
.history-order-item .history-order-item-num
  float: left
  font-size: 16px
  font-weight: 600
.history-order-item .history-order-item-delivery
  float: right
  background-image: url("../img/history-order-item-delivery.png")
  background-repeat: no-repeat
  margin: -4px -1px 0 0
  background-position: 0px 3px
  padding-left: 27px
  font-size: 16px
  color: #44b64c
  font-weight: 600
  line-height: 25px
.history-order-item .content-table td.tab-col-img
  padding-top: 4px !important
  padding-bottom: 3px !important
.history-order-item td.tab-col-img img
  width: 45px
  height: 45px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
.history-order-item .content-table
  margin: 22px 0 0
  font-size: 16px
.history-order-item .content-table td.tab-col-name
  width: 576px
  padding-bottom: 6px !important
.history-order-item .content-table td.tab-col-img
  padding-top: 4px !important
  padding-bottom: 3px !important
.history-order-item .content-table td.tab-col-num
  width: 106px
  padding-top: 0 !important
  padding-bottom: 6px !important
.history-order-item .content-table th.tab-col-price
  width: 90px
  text-align: right
.history-order-item .content-table td.tab-col-price
  width: 90px
  text-align: right
  padding-top: 0 !important
  padding-bottom: 6px !important
.history-order-item .content-table td.tab-col-sum
  width: auto
  text-align: right
  padding-top: 0 !important
  padding-bottom: 6px !important
.history-order-item .content-table th.tab-col-sum
  width: auto
  text-align: right
.history-order-item td.tab-col-name a
  color: $linkColor !important
  text-decoration: none
  border-bottom: 1px dashed $linkColor
  font-size: 16px
.history-order-item td.tab-col-name a:hover
  border-color: transparent
.history-order-item .content-table th.tab-col-discount
  text-align: right
.history-order-item .content-table td.tab-col-discount
  width: 108px
  padding-top: 0!important
  padding-bottom: 6px !important
  text-align: right
.history-order-item .content-table .table>thead>tr>th
  vertical-align: bottom
  border-bottom: $tableBorder
  font-size: 12px
  padding: 5px 0
.personal + h2
  font-size: 22px
  margin: 17px 0 13px
.history-order-item .old-price
  text-decoration: line-through
.history-order-item .total-discount-price
  font-size: 22px
  margin: 15px 0 5px
.history-order-item .bonus-for-order
  font-size: 14px
  margin: 1px 0 20px
  color: #737373
  padding: 1px 1px 1px 19px
  min-height: 15px
  background: url("../img/bonus-for-order.png") no-repeat 1px 0px
.history-order-item .total-bonus
  margin: 56px 0 29px
.history-order-item .total-bonus-info
  font-size: 18px
.history-order-item .total-bonus a
  position: relative
  display: inline-block
  text-decoration: none
.history-order-item .total-bonus a:before
  content: ''
  bottom: 1px
  width: 100%
  left: 0
  right: 0
  display: block
  position: absolute
  height: 1px
.history-order-item .total-bonus a:hover:before
  display: none
.history-order-item .total-bonus-control
  font-size: 16px
  margin-top: 10px
.history-order-item .total-bonus-control span
  display: inline-block
  margin-right: 10px
.history-order-item .control
  width: 115px
.history-order-item td.tab-col-price
  width: 116px
  padding: 3px 0 7px !important
  text-align: center !important
.history-order-item table.table > tbody > tr > td
  padding: 4px 0
  line-height: 1.42857143
  vertical-align: middle
  border-bottom: 1px solid #ddd
.history-order-item .tab-col-price
  text-align: center !important


.header-dark
  background-color: #051e48
  color: #fff
.header-dark .header-tel, .header-dark .header-tel:hover, .header-dark .header-tel:focus, .header-dark .header-tel:visited, .header-dark .header-tel:active
  color: #fff
.header-dark a.header-flamp:hover, .header-dark a.header-flamp:focus, .header-dark a.header-flamp:active, .header-dark a.header-flamp:visited, .header-dark a.header-flamp
  color: #cfcfcf
.header-dark .log-in-btn
  background-color: #051e48
  border-color: #425371
.breadcrumb
  margin: 37px 0 6px
  font-size: 14px
.breadcrumb a
  display: inline-block
  margin-right: 4px
h1
  margin: 1px 0 22px
  font-size: 26px
  font-weight: bold
.breadcrumb + h1
  margin-top: 6px
.table-order-name
  width: 720px
  position: relative
  vertical-align: middle
.table-order-name img
  display: block
  float: left
  height: 44px
  width: 44px
  margin-right: 10px
.table-order-name a
  display: inline-block
  text-decoration: none
  position: relative
  margin-top: 8px
  font-size: 16px!important
//.table-order-name a:before
//  content: ''
//  position: absolute
//  display: block
//  bottom: 0px
//  left: 0
//  right: 0
//  border-bottom: 1px dashed $linkColor
.table-order-name a:hover:before
  display: none
.table-order-num,
.table-order-price
  width: 132px
  font-size: 16px!important
  text-align: center
  vertical-align: middle!important
.table-order-sum
  text-align: right !important
  font-weight: bold
  font-size: 16px!important
  white-space: nowrap
  vertical-align: middle!important
.enter-promo
  padding: 1px 1px 1px 18px
  height: 30px
  line-height: 22px
  background-repeat: no-repeat
  background-position: 0 8px
  margin: 10px 0 5px
  background-image: url("../img/enter-promo.png")
  font-weight: bold
  font-size: 14px
  -webkit-transition: padding 300ms ease
  -moz-transition: padding 300ms ease
  -ms-transition: padding 300ms ease
  -o-transition: padding 300ms ease
  transition: padding 300ms ease
.enter-promo.enter-promo-is-entered
  background-image: none
  padding-left: 0
.enter-promo input
  width: 74px
  border: 1px solid #cfcfcf
  padding: 5px 3px
  margin-right: 6px
  margin-left: 4px
  height: 28px !important
.enter-promo .btn
  padding: 3px 5px
  height: 28px !important
  position: relative
  top: -1px
  background-color: $btnBg
  border-color: $btnBorder
.entered-promo-item
  text-decoration: none
  @include color($btnBg)
  font-size: 14px
  display: inline-block
  opacity: 1
  padding-right: 15px
  background-image: url("../img/del.png")
  background-position: right center
  background-repeat: no-repeat
  font-weight: normal
  margin: 0 3px 0
.entered-promo-item:hover
  opacity: .8
.sum-total
  text-align: right
  font-size: 22px
  margin: 10px 0 1px 0
.bonus-total
  float: right
  background-image: url("../img/bonus-for-order.png")
  background-repeat: no-repeat
  background-position: 1px 1px
  padding-left: 19px
  color: #737373
  font-size: 14px
  margin: 5px 0 5px 0
@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .sum-total, .bonus-total
    margin-right: 0

.chef-gift
  position: relative
  margin: 1px 0
.chef-gift-line
  background-image: url("../img/chef-gift-line.png")
  width: 960px
  height: 26px
  background-position: 0 0
  background-repeat: no-repeat
  position: relative
.chef-gift-line-fill
  background-image: url("../img/chef-gift-line-fill.png")
  height: 26px
  background-position: 0 0
  background-repeat: no-repeat
  position: absolute
  top: 0
  left: 0
  -webkit-transition: width 300ms ease
  -moz-transition: width 300ms ease
  -ms-transition: width 300ms ease
  -o-transition: width 300ms ease
  transition: width 300ms ease
.chef-gift-arrow
  position: absolute
  top: -57px
  left: 477px
  background-image: url("../img/chef-gift-arrow.png")
  padding-left: 147px
  min-height: 50px
  width: 500px
  font-style: italic
  color: #9a9a9a
  font-size: 14px
  background-position: 0 6px
  background-repeat: no-repeat
h3
  margin: 67px 0 18px
  font-weight: normal
  font-size: 22px
p.p-big
  margin: 0 0 16px
  font-size: 16px
  line-height: 1
.a-dashed
  text-decoration: none
  position: relative
.a-dashed:before
  border-bottom: 1px dashed $linkColor
  content: ''
  position: absolute
  display: block
  bottom: 0
  left: 0
  right: 0
.a-dashed:hover:before
  display: none
p.p-normal
  margin: 0 0 16px
  font-size: 14px
  line-height: 1.6
.chef-gift-item
  display: table
  width: 270px
  margin: 0 10px 5px
  table-layout: fixed
  float: left
  &.c-row:before,
  &.c-row:after
    display: none
.chef-gift-item-img
  display: table-cell
  height: 90px
  width: 90px
  position: relative
.chef-gift-item-img img
  width: 100%
  height: 100%
  display: block
  object-fit: cover
  object-position: center
.chef-gift-item-info
  display: table-cell
  padding: 10px
  vertical-align: top
  position: relative
.chef-gift-item-info-name
  margin: 0 0 8px
  font-size: 16px
  font-weight: bold
.chef-gift-item-info-description
  margin: 8px 0 2px
  font-size: 12px
  color: #9a9a9a
.chef-gift-item-info-choose
  position: absolute
  left: 10px
  bottom: 0
  font-size: 16px
.chef-gift-item-info-choose.disabled, .chef-gift-item-info-choose.disabled a, .chef-gift-item-info-choose.disabled a:hover, .chef-gift-item-info-choose.disabled a:focus, .chef-gift-item-info-choose.disabled a:visited, .chef-gift-item-info-choose.disabled a:active, .chef-gift-item-info-choose.disabled a:before
  color: #7b7b7b !important
  border-color: #7b7b7b !important
  cursor: default
.chef-gift-item-info-choose.disabled a:hover:before
  display: block !important
.chef-gift-item-row
  margin-right: -10px
  margin-left: -10px
  @include clearfix
.chef-gift-caption
  position: relative
  margin: 12px 0 17px
  color: #737373
  font-size: 18px
  @include clearfix
.chef-gift-caption:before
  content: ''
  border: none !important
  position: absolute
  top: 16px
  z-index: 1
  display: block
  left: 0
  right: 0
.chef-gift-caption span
  //background-color: #202020
  color: #fff
  padding: 1px 9px 1px 0
  display: inline-block
  z-index: 2
  position: relative
  font-style: italic
.caption-sm
  background: transparent !important
.your-phone
  margin: 53px 0 14px
  font-size: 22px
.your-phone input
  width: 189px
  border: 1px solid #cfcfcf
  padding: 6px 7px
  margin-right: 6px
  margin-left: 12px
  height: 42px !important
h4
  font-weight: bold
  margin: 16px 0 27px
  font-size: 14px
.form-row
  margin-bottom: 20px
.form-row-caption
  float: left
  width: 124px
  font-size: 14px
  margin-top: 5px
.form-row-content
  margin-left: 128px
  font-size: 14px
.form-row-content input[type='text'], input[type='number'], .form-row-content input[type='tel']
  font-size: 14px
  width: 227px
  border: 1px solid #cfcfcf
  padding: 4px 6px
  height: 28px
  display: inline-block
  margin-right: 8px
.form-row-content textarea
  font-size: 14px
  min-width: 407px
  max-width: 407px
  width: 407px
  border: 1px solid #cfcfcf
  padding: 7px 6px
  height: 90px
  display: inline-block
  margin-right: 8px
.checkbox
  display: inline-block
  position: relative
  margin-right: 8px
.radio
  display: inline-block
  position: relative
  margin-right: 14px
.checkbox label, .radio label
  min-height: 20px
  padding-left: 17px
  margin-bottom: 0
  font-weight: 400
  cursor: pointer
  display: inline-block
  max-width: 100%
  line-height: 27px
.checkbox input[type=checkbox], .radio input[type=radio]
  position: absolute
  margin: 7px 0 0 -17px
  line-height: normal
.form-row-content select
  font-size: 14px
  width: auto
  border: 1px solid #cfcfcf
  padding: 4px 0
  height: 28px
  display: inline-block
  margin-right: 2px
  margin-left: 2px
.radio + select
  margin-left: -7px
.form-row-content-description
  font-style: italic
  color: #9a9a9a
  font-size: 12px
  margin: 3px 0 10px
  line-height: 1.5
.error-caption
  color: #d50808
  font-size: 16px
  margin: 5px 0 13px
  font-weight: bold
.error-list
  margin: 1px 0 19px
  padding: 0
  list-style: none
  font-style: italic
  color: #d50808
  font-size: 12px
.error-list li
  margin-bottom: 8px
.error
  color: #d50808
.error .form-row-content input[type='text'], .error .form-row-content input[type='tel'], .error .form-row-content textarea
  border-color: #d50808
  color: #353535

.bonus-line-2
  position: relative
  margin: 1px 0
  width: 960px
  height: 26px
.bonus-line-2-content
  position: relative
  width: 960px
  height: 26px
  background-color: transparent
  border-top: 6px solid #c1c1c1
.bonus-line-2-progress
  position: absolute
  top: 0
  left: 0
  height: 26px
  transition: width 300ms ease
  overflow: hidden
.bonus-line-2-progress-border
  font-size: 14px
  font-weight: bold
  height: 26px
  text-align: center
  display: inline-block
  border-right: 2px solid white
  top: -6px
  margin-right: -2px
  position: absolute
  padding: 11px 2px 0 0
.bonus-line-2-progress .bonus-line-2-progress-border
  opacity: .5
  color: $btnBg
.bonus-line-2-progress .bonus-line-2-content
  border-color: #f4585d

.bonus-line-2-progress-border:nth-child(1)
  right: 50%
.bonus-line-2-progress-border:nth-child(2)
  right: 25%
.bonus-line-2-progress-border:nth-child(3)
  right:  0
  border-bottom-color:  transparent

.order-completed
  margin: 26px 0
  position: relative
  font-size: 18px
  line-height: 1.5
.order-completed span
  color: #737373
  display: block
  margin: 4px 0
.order-completed-mail
  position: relative
  margin: 10px 0
  height: 28px
.order-completed-mail input
  height: 28px
  display: inline-block
  padding: 10px
  width: 151px
  margin-right: 4px
  border: 1px solid #cfcfcf
.order-completed-mail a, .order-completed-mail a:hover, .order-completed-mail a:focus, .order-completed-mail a:active, .order-completed-mail a:visited
  color: $btnBg
  text-decoration: none
.order-completed-mail a
  display: inline-block
  border-bottom: 2px $btnBg dashed
  line-height: .8
.order-completed-mail a:hover
  border-bottom-color: transparent
.order-completed-mail-done
  font-size: 18px
  color: #4c9725

.order-form
  margin: 49px 0 36px
.order-form-caption
  font-size: 22px
  margin-bottom: 20px
.order-form-row
  float: none
  clear: both
  margin-bottom: 8px
.order-form-row.error .order-form-label span
  position: relative
.order-form-row.error .order-form-label span:before
  content: '*'
  color: #d50808
  position: absolute
  top: -3px
  left: -11px
  font-size: 21px
.order-form-row.error .control
  border: 1px solid #d50808
.order-form-label
  float: left
  width: 125px
  text-align: left
  margin: 5px 1px 1px 12px
.order-form-control
  position: relative
  float: right
  width: 820px
.order-form-control .control
  width: 225px
.order-form-control .left
  display: block
  margin-right: 15px
.order-form-control .left-choice-3
  display: block
  float: left
  margin: 6px 15px 19px 0
.order-form-control .left-choice-2
  display: block
  float: left
  margin: 3px 15px 16px 0
.order-form-control .left-choice-1
  display: block
  float: left
  margin: 6px 15px 16px 0
.order-form-control textarea.control
  min-height: 89px
  height: auto
  width: 407px
  display: block
  position: relative
  min-width: 407px
  max-width: 407px
  margin-bottom: 0
.order-form-control i
  color: #9a9a9a
  font-size: 12px
  display: block
  margin-top: 4px
  line-height: 19px
.order-form-control .error-message
  color: #d50808
  margin: 10px 0 32px
.order-form-control .error-message b
  font-weight: bold
  font-size: 16px
.order-form-control .error-message ul
  padding: 0
  margin: 11px 13px 11px
.order-form-control .error-message ul li
  font-size: 12px
  margin: 0 0 8px
.order-page-button
  color: #eee
  background: #999
  display: inline-block
  padding: 10px 49px 9px
  font-size: 16px
  font-weight: bold
  text-decoration: none
  -webkit-border-radius: 13px
  -moz-border-radius: 13px
  border-radius: 13px
  border: none
  outline: none
  cursor: pointer
.order-page-button:hover
  text-decoration: none
  background-color: #eaeaea
  outline: none
.order-form select
  color: #000
.order-item._n3_order-item
  margin: 40px 39px 23px 0
  clear: none
._n3_order-item-label._n3_order-item-label-2
  display: block
  float: left
  top: 4px
  position: relative
  width: 129px
.order-form .order-item._n3_order-item input[type="text"], .order-form .order-item._n3_order-item input[type="tel"]
  width: 160px
  height: 28px
  margin-top: 1px
.order-form .order-item._n3_order-item input.input-house, .order-form .order-item._n3_order-item input.input-flat
  width: 53px
.order-form .order-item._n3_order-item input.input-name
  width: 197px
.order-form .order-item._n3_order-item input.input-tel
  width: 196px
  margin-right: -20px
.order-form .order-item._n3_order-item input.input-street
  width: 197px
.order-form .order-item._n3_order-item input.input-address
  width: 505px
._n3_order-item-label
  margin-bottom: 5px
  width: 125px
._n3_order-item > div
  display: inline-block
  font-size: 14px
.order-item select
  height: 28px
  margin-top: 0
._n3_select-date
  width: 109px
._n3_select-time, ._n3_select-hours
  width: 44px
.order-item._n3_order-item + .order-item._n3_order-item
  margin-top: 0
.order-item._n3_order-item + .form-row-content.c-row
  margin-bottom: 15px
  margin-top: 29px
._n3_select-connect
  margin: 0 1px 0 0
  display: inline-block
.order-form ._n3_order-item textarea
  margin: 0px
  width: 407px
  height: 90px
  display: block
.order-item i
  color: #9a9a9a
  font-size: 12px
  line-height: 19px
  display: block
  margin-top: 4px
.order-form .error input[type="tel"]
  border: 1px solid #d50808
.error-message-main
  margin-top: -23px
  margin-left: 0
  margin-bottom: 28px
.error-message-main ul
  padding-left: 14px
  margin-top: 6px
  letter-spacing: -0.1px

.delivery-data
  position: relative
  clear: both
  margin: 24px 0 11px 0
  width: 536px
.delivery-data-caption
  font-size: 14px
  line-height: 16px
  font-weight: bold
  margin: 0 0 1px 0
  padding: 0 0 17px 0
  border-bottom: 1px solid #cfcfcf
  letter-spacing: -0.1px
.delivery-data-item
  font-size: 14px
  line-height: 16px
  margin: 0
  padding: 0 0 12px 0
  border-bottom: 1px solid #cfcfcf
  letter-spacing: -0.1px
  @include clearfix()
.delivery-data-item input[type='radio']
  display: block
  float: left
  margin: 17px 1px 0 0
.delivery-data-item-info
  float: left
  width: auto
  display: block
  margin: 14px 1px 0px 1px
  font-size: 16px
.delivery-data-item-button
  float: right
  display: block
  margin: 12px 0 0 0
  border: none
  outline: none
  height: 23px
  width: 23px
  background: url("../img/delivery-data-item-button.png") no-repeat top center
  cursor: pointer
  text-decoration: none
.delivery-data-item-button.active, .delivery-data-item-button:hover
  background: url("../img/delivery-data-item-button.png") no-repeat bottom center
.delivery-data-item-add-new
  padding: 15px 14px 10px
.delivery-data-item-add-new a
  font-size: 14px
  line-height: 16px
  color: $btnBg
  text-decoration: none
  border-bottom: 1px dashed $btnBg
.delivery-data-item-add-new a:hover
  border-bottom: 1px dashed transparent
.delivery-data-item-adding-new
  padding-bottom: 17px
.delivery-data-item-adding-new .order-item._n3_order-item
  margin: 0 25px 6px 15px
  clear: none
.delivery-data-item-adding-new ._n3_order-item-label
  margin-top: 15px
  margin-bottom: 4px
  font-size: 14px
.delivery-data-item-adding-new-save-cancel
  margin: 0 1px 0 16px
.delivery-data-item-adding-new-save-cancel a
  font-size: 14px
  line-height: 16px
  color: $btnBg
  text-decoration: none
  border-bottom: 1px dashed $btnBg
  display: inline-block
  margin-right: 6px
.delivery-data-item-adding-new-save-cancel a:hover
  border-bottom: 1px dashed transparent
.order-item._n3_order-item-label .modal-cart-make-an-order
  text-align: left
.delivery-yourself
  position: absolute
  float: right
  top: 0
  right: 0
  font-size: 14px
.delivery-yourself label
  position: relative
  padding-left: 18px
.delivery-yourself input[type='checkbox']
  position: absolute
  top: 2px
  left: 0

.chef-gift-page-wrap_sm
  margin: 0 -$mainGutter
  @include clearfix
  .chef-gift-page-wrap__col
    float: left
    width: 33.3333%
    padding: 0 $mainGutter
  .chef-gift-item
    width: 100%!important
    margin-right: 0
    margin-left: 0
    float: none
  .chef-gift-item-row
    margin: 0


.p-bonus
  position: relative
  margin-top: 16px
  margin-bottom: 89px
  &__head
    position: relative
    margin: 1px 0 2px
    font-family: 'Roboto', sans-serif
    @include clearfix
    &-cashback
      float: left
      max-width: 50%
      margin-top: 3px
      letter-spacing: 0.3px
      padding-left: 28px
      background: url("../img/p-bonus__head-cashback.png") no-repeat 0 3px
      &-caption
        text-transform: uppercase
        font-weight: 300
        font-size: 18px
      &-info
        font-weight: bold
        font-size: 14px
        margin-top: 3px
  &__info
    float: right
    max-width: 50%
    background: url("../img/p-bonus__info.png")no-repeat 0 0
    padding-left: 19px
    font-size: 14.5px
    margin-top: 8px
    & a
      display: inline-block
      text-decoration: none
      color: $linkColor
      position: relative
    & a:before
      content: ''
      position: absolute
      border-bottom: 1px dashed $linkColor
      left: 0
      right: 0
      bottom: 0
    & a:hover
      text-decoration: none
    & a:hover:before
      display: none
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 6px
    background: $pBonusLine
    background: -moz-linear-gradient(left, $pBonusLine 0%, $pBonusLine 95%, transparent 100%)
    background: -webkit-linear-gradient(left, $pBonusLine 0%,$pBonusLine 95%,transparent 100%)
    background: linear-gradient(to right, $pBonusLine 0%,$pBonusLine 95%,transparent 100%)
  &__line
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 6px
    background: $pBonusActive
    -webkit-transition: all .3s ease
    -moz-transition: all .3s ease
    -ms-transition: all .3s ease
    -o-transition: all .3s ease
    transition: all .3s ease
  &__sector
    display: table-cell
    position: relative
    vertical-align: top
    z-index: 10
    font-size: 14px
    padding-top: 13px
    line-height: 1.45
    white-space: nowrap
    color: $pBonusColor
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      bottom: 0
      height: 6px
      width: 2px
      background: $mainBg
    &.active
      color: $pBonusActiveColor
  &__sectors
    position: relative
    display: table
    table-layout: fixed
    width: 100%
    b
      font-size: 13.4px


.promo-steps
  position: relative
  font-family: 'Roboto', sans-serif
  &__caption
    text-transform: uppercase
    font-weight: 300
    font-size: 45px
    line-height: 1.05
    margin: 34px 0 2px
    color: $PSCaptionColor
    letter-spacing: 1px
  &__sub-caption
    font-weight: normal
    font-size: 22px
    margin: 6px 0 2px
    color: #9a9a9a
  &__graph
    position: relative
    margin: 2px 0 86px
    @include clearfix
    &-info
      float: right
      width: 336px
      margin-top: 56px
      line-height: 1.4
      padding-bottom: 96px
      font-style: italic
      color: #525252
      padding-left: 26px
      font-size: 16px
      background: url("../img/romo-steps__graph-info.png") no-repeat 0 bottom
    &-content
      position: relative
      float: left
      display: table
      width: 612px
      table-layout: fixed
      &__step
        display: table-cell
        vertical-align: bottom
        border-right: 2px solid transparent
        &_1 &-name span
          height: 80px
        &_2 &-name span
          height: 133px
        &_3 &-name span
          height: 186px
        &_4 &-name span
          height: 267px
        &-percent
          text-align: center
          font-weight: 300
          font-size: 23px
          padding-top: 27.5px
          margin-bottom: 3px
        &-name
          background: $PSStepBg
          color: #fff
          text-align: center
          font-size: 16px
          font-weight: 300
          text-transform: uppercase
          display: table
          width: 100%
          span
            display: table-cell
            vertical-align: bottom
            position: relative
            line-height: 1.3
            padding: 5.9px
            &:before
              content: ''
              display: inline-block
              position: relative
              background: url("../img/promo-steps__graph-content__step-name.png") no-repeat 0 0
              height: 15px
              width: 19px
        &-price
          padding: 8px
          position: relative
          font-size: 14px
          &:before
            border-top: 4px solid $PSStepColor
            content: ''
            position: absolute
            top: 0
            left: 0
            right: -2px
            display: block
          &:after
            border-left: 2px solid $PSStepSeparator
            content: ''
            position: absolute
            top: 8px
            right: -2px
            height: 16px
            width: 1px
            display: block
      & .promo-steps__graph-content__step:last-child .promo-steps__graph-content__step-price:after
        border-left: 4px solid $PSStepColor
        border-top: 4px solid $PSStepColor
        top: -7px
        left: initial
        height: 18px
        width: 18px
        right: 0
        -webkit-transform: rotate(135deg)
        -moz-transform: rotate(135deg)
        -ms-transform: rotate(135deg)
        -o-transform: rotate(135deg)
        transform: rotate(135deg)
  &__p
    font-size: 18px
    margin-bottom: 23px
  &__ul
    list-style: none
    margin: 0
    padding: 0
    font-size: 14px
    line-height: 1.75

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  h3
    font-size: rem24(28px)
  h4
    font-size: rem24(24px)
    margin: rem24(16px) 0 rem24(27px)
  p.p-normal
    font-size: rem24(24px)
  p.p-big
    font-size: rem24(26px)
  .form-row
    margin-bottom: rem24(25px)
  .form-row-caption
    float: none
    width: 100%
    font-size: rem24(28px)
    margin-bottom: rem24(15px)
  .form-row-content
    margin-left: 0
    input[type=text], input[type=number], input[type=tel]
      margin-right: 0
      width: 100% !important
      height: rem24(50px)
      font-size: rem24(26px)
      & + .checkbox
        margin-top: rem24(20px)
    select
      height: rem24(40px)
      font-size: rem24(26px)
      padding: 0
    .radio
      display: block
      margin-right: 0
      margin-bottom: rem24(15px)
      & + br
        display: none
    textarea
      height: rem24(100px)
      width: 100%
      min-width: 1px
      max-width: 100%
      font-size: rem24(26px)
      resize: vertical
  .checkbox label, .radio label
    padding-left: 5vw
    line-height: 1.25
    font-size: rem24(24px)
  .checkbox input[type=checkbox], .radio input[type=radio]
    top: 50%
    left: 0
    margin: -1.4vw 0 0
    width: 2.8vw
    height: 2.8vw
  .radio+select
    margin-left: 0
  .table-order
    thead
      th:nth-child(3)
        display: none
  .table-order-name a
    display: inline
    font-size: rem24(24px) !important
  .table-order-num,
  .table-order-price
    font-size: rem24(32px) !important
  .table-order-sum
    font-size: rem24(32px) !important
  h1
    margin: 1px 0 rem24(22px)
    font-size: rem24(40px)
  .breadcrumbs+h1
    margin-top: rem24(22px)
  .breadcrumbs
    display: none
  .table-order-name
    width: 68%
  .table-order-num
    width: auto
    white-space: nowrap
  .table-order-price
    display: none
  .mobile-order-block, .bonus-line-content-modal-bottom
    .table>tbody>tr
      height: 0
    .table>tbody>tr>td
      border-bottom-width: 2px
    .num-minus, .num-plus
      background: none
      color: $btnBg !important
      font-size: rem24(39px)
      line-height: 0.5
      width: rem24(25px)
    .table-order-name
      width: 75%
      padding-right: 1%
    .table-order-num
      text-align: right
      span
        min-width: rem24(50px)
        text-align: center
  .form-street
    float: none !important
  .your-phone input
    width: 100% !important
  .person-data-email-input
    border: 1px solid #ccc
    width: 100%
    padding: 5px
  .delivery-data
    width: auto
  .delivery-data-item-adding-new input[type=text], .delivery-data-item-adding-new input[type=tel]
    border: 1px solid #ccc
    height: 36px
    font-size: 22px
    padding: 20px 0
    max-width: 300px !important
    min-width: 100% !important
  .enter-promo
    height: auto
    padding-left: rem24(30px)
    font-size: rem24(16px)
    background-position: 0 40%
    input
      width: rem24(80px)
      height: rem24(32px) !important
    .btn
      width: rem24(32px)
      height: rem24(32px) !important
      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
  .sum-total
    font-size: rem24(20px)
    margin: rem24(10px) 0 1px
  .bonus-total
    font-size: rem24(16px)

  .chef-gift
    display: none
  .chef-gift-title
    margin: rem24(30px) 0 rem24(5px)
  .chef-gift-text
    margin: 0 0 rem24(30px)
    font-size: rem24(22px)
  .chef-gift-page-wrap_sm
    margin: 0
    .chef-gift-page-wrap__col
      float: none
      width: auto
      padding: 0 $mainGutter
    .chef-gift-item
      width: 100%!important
      margin-right: 0
      margin-left: 0
      float: none
    .chef-gift-item-row
      margin: 0
  .your-phone
    margin: rem24(53px) 0 rem24(14px)
    font-size: rem24(22px)
    input
      width: 100%
      border: 1px solid #cfcfcf
      padding: 0 3%
      margin: rem24(15px) 0 0
      height: rem24(50px)!important
      line-height: rem24(50px)
      font-size: rem24(26px)
  .form-row-content-description
    font-size: rem24(20px)
  .error-caption
    margin: rem24(5px) 0 rem24(30px)
    font-size: rem24(28px)
  .error-list
    font-size: rem24(22px)
    li
      margin-bottom: rem24(14px)
  .order-btn
    width: 100%
    padding: rem24(16px) 5% rem24(16px)

@media (max-width: 640px)
  .enter-promo
    float: none
    background-position: 0 45%
  .enter-promo + .right
    float: none
  .sum-total
    text-align: left
    font-size: rem24(25px)
  .bonus-total
    float: none
    background-position: 0 50%
  .chef-gift-page-wrap .chef-gift-item-img
    width: 30vw !important
    height: 30vw !important
  .chef-gift-page-wrap .chef-gift-item-info
    height: 30vw !important
  .chef-gift-item-info-choose
    position: static
    font-size: rem24(20px)
  .checkbox label, .radio label
    padding-left: 7vw
  .checkbox input[type=checkbox], .radio input[type=radio]
    margin: -2.3vw 0 0
    width: 4.6vw
    height: 4.6vw