//база
*,
*:after,
*:before
  box-sizing: border-box
html
  position: relative
  min-height: 100%
  height: 100%
  font-family: $mainFont
  font-size: $mainFontSize
  color: $mainFontColor
  background: $mainBg
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    font-size: $mobileFontSize
    line-height: 1.33
  @media (max-width: 640px)
    font-size: vw(34px)
body
  position: relative
  height: 100%

//сетка
.wrapper
  position: relative
  min-width: $mainContainerXsWidth+2*$mainGutter
  min-height: 100%
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    //.wrapper
    min-width: 320px
  /*.container
    width: 100%!important
    min-width: 320px!important*/
.container
  width: $mainContainerXlWidth
  margin-right: auto
  margin-left: auto
  position: relative
  padding-right: $mainGutter
  padding-left: $mainGutter
  @include clearfix()
  @media (max-width: $mainContainerXlWidth+$mainGutter*2)
    width: $mainContainerXsWidth!important
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    width: 100%!important
    padding-right: $mobileGutter
    padding-left: $mobileGutter
.row
  margin-right: -$mainGutter
  margin-left: -$mainGutter
  @include clearfix()
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    margin-right: -$mobileGutter
    margin-left: -$mobileGutter
.col
  @include col(100%)

//ссылки
a
  @include color($linkColor)
  text-decoration: underline
  &:hover
    text-decoration: none

.link
  @include color(inherit)
  @include transparency()

.link-dashed
  @include color($linkColor)
  position: relative
  text-decoration: none
  background-image: linear-gradient(to right, $linkColor 3px, transparent 1px)
  background-size: 4px 1px
  background-repeat: repeat-x
  background-position: left 0 bottom 0.15em
  transition: all .3s ease
  &:hover
    background-image: linear-gradient(to right, $linkColor 0, transparent 0)
  &.link-tis
    @include color($headerTeaserColor)
    background-image: linear-gradient(to right, $headerTeaserColor 3px, transparent 1px)
    &:hover
      background-image: linear-gradient(to right, $headerTeaserColor 0, transparent 0)

//кнопка
.btn
  display: inline-block
  padding: $btnPadding
  font-size: $btnFontSize
  text-align: center
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  user-select: none
  color: $btnFontColor !important
  background: $btnBg
  border: $btnBorder
  border-radius: $btnBorderRadius
  transition: all .3s ease
  outline: none
  text-decoration: none
  &:hover,
  &:active,
  &.active,
  &.active.focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &:active:focus,
  &:focus
    outline: none
  &.active,
  &:active
    box-shadow: inset .25rem .25rem .25rem rgba(0, 0, 0, 0.3)
  &:hover
    color: $btnFontColorHover
    background: $btnBgHover
    border: $btnBorderHover
    text-decoration: none

//таблицы
.table
  border-spacing: 0
  border-collapse: collapse
  width: 100%
  max-width: 100%
  margin-top: $tableMarginTop
  margin-bottom: $tableMarginBottom
  &>tbody>tr>th,
  &>tbody>tr>td,
  &>tfoot>tr>th,
  &>tfoot>tr>td
    padding: $tablePadding
    vertical-align: top
    border-bottom: $tableBorder
    text-align: left
    font-size: $tableFontSize
    color: $tableFontColor
  &>thead>tr>th,
  &>thead>tr>td
    padding: $tablePaddingHead
    vertical-align: bottom
    border-bottom: $tableBorderHead
    text-align: left
    font-size: $tableFontSizeHead
    font-weight: bold
    color: $tableFontColorHead

//map
.ya-map
  margin: 1rem 0 2rem
  position: relative
  overflow: hidden
  //&:before
  //  content: ''
  //  position: absolute
  //  top: 0
  //  left: 0
  //  right: 0
  //  bottom: 0
  //  z-index: 99999

//enter-btn
.enter-btn 
  display: inline-block
  border: $btnBorder
  background: $btnBg
  padding: 10px 29px 9px
  color: $btnFontColor
  font-size: $btnFontSize
  font-weight: normal
  text-decoration: none
  -webkit-border-radius: $btnBorderRadius
  -moz-border-radius: 13px
  border-radius: 13px
  //border: none
  outline: none
  cursor: pointer
  font-family: 'Roboto', sans-serif
.enter-btn:hover
  background: $btnBgHover
  text-decoration: none
  outline: none
.enter-btn:active 
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)


.text-right
  text-align: right!important
.text-left
  text-align: left!important

.c-row
  @include clearfix()
.left
  float: left
.right
  float: right
.content
  width: $mainContainerMdWidth
  padding-right: $mainContainerMdWidth - $mainContainerXsWidth
@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .content
    padding-right: 0
@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .content
    padding-right: $mobileGutter

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .action-item-img
    width: 100%

.mobile-visible
  display: none
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    display: block
.mobile-visible-inline
  display: none
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    display: inline-block

.mobile-hidden
  @media (max-width: $mainContainerXsWidth+$mainGutter*2)
    display: none

.caption
  &-h2,
  &-h3
    font-size: $captionSize
    font-weight: 700
    margin-bottom: $captionMB
    @include col(100%)
  &-h2
    margin-top: $captionMTh2
  &-h3
    margin-top: $captionMTh3

.b-trigger
  +b-flex
  +b-justify-center
  margin-top: 30px
  margin-left: 20px
  margin-right: 20px
  &__item
    +b-flex
    +b-flex-align(center)
    &:not(:last-child)
      margin-right: 30px
  &__img
    max-width: 120px
    // background-color: #9a9a9a
    height: 100%
    +b-flex
    +b-flex-align(center)
    img
      width: 100%
      height: auto
  &__text-wrapper
    // background-color: #cfcfcf
    height: 100%
    +b-flex
    +b-flex-align(center)
  &__text
    font-size: 24px
    color: #353535
    max-width: 260px
    padding-left: 20px
    padding-right: 20px
  &__img-wrapper
    height: 100%
  @media only screen and (max-width : 1040px)
    margin-left: 30px
    margin-right: 30px
    &__img-wrapper
      height: auto
    &__item
      +b-block
    &__img
      height: 120px
      background-color: transparent
      img
        width: auto
    &__img-wrapper
      +b-flex
    &__text-wrapper
      height: auto
      padding: 10px 0px
      background-color: transparent
    &__text
      padding-left: 0px
      text-align: left
  @media only screen and (max-width : 768px)
    margin-left: 9px
    margin-right: 9px
    &__text
      max-width: none
      width: 100%
      font-size: 11px
    &__text-wrapper
      text-align: center
      min-height: 60px
    &__img
      max-width: 57px
      height: 60px
      img
        width: 100%
  @media only screen and (max-width : 500px)
    &__item
      &:not(:last-child)
        margin-right: 15px
  @media only screen and (max-width : 410px)
    &__img
      max-width: 50px
      height: 55px
    &__text
      padding-right: 0px
.b-company-offer
  display: none
  @media only screen and (max-width : 1040px)
    +b-flex
    +b-justify
    +b-flex-align(center)
    min-height: 144px
    padding-left: 30px
    padding-right: 30px
    background-color: #353535
    &__img
      max-width: 280px
      img
        width: 100%
    &__text
      font-size: 28px
      color: #fff
      padding-left: 30px
      padding-right: 20px
      a
        text-decoration: none
        color: #fff
    &__cross
      cursor: pointer
      +b-flex
      +b-flex-align(center)
  @media only screen and (max-width : 768px)
    padding-left: 9px
    padding-right: 9px
    min-height: 100px
    &__text
      font-size: 12px
      padding-left: 10px
    &__img
      max-width: 128px
      min-width: 128px
    &__cross
      max-width: 15px
      min-width: 15px
      img
        width: 100%










