@mixin clearfix()
  &
    position: relative
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear:  both

@mixin transparency()
  &
    opacity: 1
    transition: opacity .3s ease
    text-decoration: none
  &:hover,
  &.active
    opacity: .7
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited
    text-decoration: none

@mixin color($color)
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited
    color: $color

@mixin col($percent)
    position: relative
    float: left
    width: $percent
    min-height: 1px
    padding-right: $mainGutter
    padding-left: $mainGutter
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      padding-right: $mobileGutter
      padding-left: $mobileGutter

@function rem24($target)
  $remSize: $target / 24px
  @return #{$remSize}rem

@mixin font-size-rem($sizeValue: 2.4)
  font-size: (($sizeValue * 1) / $mobileFontSize2)  + rem

@function vw($target)
  $vw-context: (720 * .01) * 1px // 1% viewport width
  @return ($target/$vw-context) * 1vw

// Mixin
@mixin vw($size)
  font-size: vw($size)