.modal
  &.modal-enter 
    top: 81px
    right: 0
    width: 779px
    overflow: hidden
    padding-bottom: 1rem

.modal-caption
  font-size: 18px
  padding: 26px 28px 1px
  font-weight: bold

.modal-content
  padding: 21px 28px 20px

.modal-enter-row
  margin-bottom: 7px

.modal-enter-label 
  font-size: 14px

.control
  background: #fff
  border: 1px solid #cfcfcf
  font-size: 14px
  width: 228px
  height: 28px
  padding: 1px 5px
  display: inline-block
  margin-bottom: 12px

.modal-enter-controls
  float: left
  width: 256px
  @include clearfix()

.modal-enter-info
  float: right
  width: 465px
  position: relative
  background: url("../img/modal-enter-info.png") no-repeat 31px 0px
  padding: 3px 17px 1px 116px
  margin-top: -21px
  font-size: 14px
  &:before
    content: ''
    position: absolute
    background: url("../img/modal-enter-separator.png") no-repeat 0 0
    height: 308px
    width: 1px
    top: -60px
    left: 1px


.modal-enter-info-notice
  font-size: 16px
  font-style: italic
  margin-bottom: 10px
  color: $modalFontColor

.modal-enter-info-text 
  margin-top: 38px
  ul
    margin-top: 10px
    margin-left: 10px
    padding: 0
    margin-right: -20px
    li
      margin-bottom: 10px

.remind-password
  display: inline-block
  margin: 11px 30px 0 0
  font-size: 12px
  text-decoration: underline
  &:hover
    text-decoration: none

.modal-forget
  top: 81px
  right: 0
  width: 300px
  overflow: hidden
  padding-bottom: 1rem

.modal-auth
  .modal-caption
    padding: 0 0 1px
    font-size: 20px
  .modal-content
    padding: 22px 0 70px
  .modal-enter-controls
    float: none
    width: auto
  .modal-enter-row
    margin-bottom: 2px
  .modal-enter-label
    color: #9a9a9a
  .control
    margin-bottom: 27px
    padding: 0 5%
    width: 100%
    height: 43px
    font-size: 32px
    border-width: 0 0 1px
  .enter-btn
    display: block
    margin: 0 0 28px
    padding: 14px 29px 13px
    width: 100%
    font-size: 24px
    font-weight: 500
    text-transform: uppercase
    border-radius: 4px
  .remind-password
    display: block
    margin: 0 auto
    width: 150px
    font-size: 14px
    font-weight: 500
    text-transform: uppercase

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .modal-auth
    .modal-caption
      padding: 0 0 1px
      font-size: rem24(40px)
    .modal-content
      padding: rem24(38px) 0 rem24(70px)
    .control
      margin-bottom: rem24(52px)
      padding: 0 5%
      width: 100%
      height: rem24(88px)
      font-size: rem24(42px)
    .modal-enter-controls
      float: none
      width: auto
    .modal-enter-label
      font-size: rem24(24px)
    .enter-btn
      margin: 7px 0 0
      padding: rem24(30px) rem24(30px) rem24(27px)
      font-size: rem24(48px)
    .remind-password
      position: fixed
      bottom: rem24(30px)
      left: 0
      right: 0
      text-align: center
      width: auto
      font-size: rem24(24px)
      text-transform: uppercase