.hidden
  overflow: hidden
  &:before
    content: ''
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 1000
.hiddenBody
  overflow: hidden
  &:before
    content: ''
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 1000
  .bonus-line-wrapper
    z-index: 1

.modal
  display: none
  position: absolute
  background: $modalBg
  color: $modalFontColor
  padding: 1px 1px 1px
  top: 0
  z-index: 99999
  -webkit-box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
  box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
  text-align: left !important
  border-radius: 1.1rem
  &-holder
    position: relative
  &-wrap
    position: fixed
    top: 0
    right: 0
    left: 0
    overflow: auto
    bottom: 0
    display: none
    z-index: 9999
    &.active
      display: block
  &.modal-enter
    top: 50px
    right: 0
    width: 779px
  &.active
    display: block
  &-close
    position: absolute
    z-index: 1050
    top: 10px
    right: 10px
    height: 21px
    width: 21px
    cursor: pointer
    text-decoration: none
    outline: none
    &:hover,
    &
      border: none
      background: transparent url("../img/close-2.png") no-repeat center center

  &-caption
    font-size: 18px
    padding: 6px 0 22px
    font-weight: bold
  &-content
    padding: 21px 28px 20px

