.modal-city-select
  text-align: center !important
  &__caption
    position: relative
    margin: 0 0 1.7rem
    text-align: center
    font-family: 'Arial', sans-serif
    font-size: 26px
    font-weight: 400
    color: $modalFontColor
  &__form-group
    position: relative
    margin: .5rem auto 0
    max-width: 224px
  &__btn
    position: relative
    display: block
    width: 100%
    padding: 7px
    font-size: 18px
    font-family: 'Roboto', sans-serif
  .modal
    position: relative
    display: inline-block
    width: 528px
    margin: auto
    max-width: 90%
    top: 120px
    text-align: center !important
  & .modal-content
    padding: 26px 30px 28px
  & .modal-close
    border: 11px solid $modalBg
    height: 43px
    width: 43px
    border-radius: 43px
    background-color: $modalBg
    opacity: 1
    top: 0
    right: 0
