.modal-photo
  text-align: center!important
  .modal
    position: relative
    display: inline-block
    width: auto
    margin: auto
    max-width: 90%
    top: 120px
    text-align: center!important
  & .modal-content
    padding: 20px 20px 16px
  & .modal-close
    border: 11px solid $modalBg
    height: 43px
    width: 43px
    border-radius: 43px
    background-color: $modalBg
    opacity: 1
    top: 0
    right: 0

.img-big 
  width: auto
  height: auto
  max-width: 100%
