.cart-min-modal
  position: relative
  -webkit-border-radius: 24px
  -moz-border-radius: 24px
  border-radius: 24px
  -webkit-box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
  box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
  background-color: $modalBg
  border: 1px solid $modalBg
  padding: 16px 20px 0
  &-wrap
    bottom: 41px
    left: -23px
    width: 571px
    z-index: 9999
    position: absolute
    overflow: hidden !important
    padding: 23px 23px 29px
  &:after
    content: ''
    position: absolute
    border-left: 17px solid transparent
    border-right: 17px solid transparent
    border-top: 29px solid $modalBg
    left: 103px
    bottom: -26px
  .bonus-line-content-modal-top-info-caption
    font-size: 26px
    font-weight: normal
  .bonus-line-content-modal-top
    margin-bottom: 8px
  &-item
    display: table
    position: relative
    width: 482px
    height: 45px
    &-img
      display: table-cell
      vertical-align: top
      width: 45px
      height: 45px
      img
        height: 45px
        width: 45px
    &-name
      display: table-cell
      vertical-align: top
      padding: 11px 10px 1px
      font-size: 16px
      height: 45px
      color: $modalFontColor

    &-price
      text-align: right
      display: table-cell
      vertical-align: top
      font-weight: bold
      font-size: 26px
      height: 45px
      color: $modalFontColor

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .cart-min-modal
    padding: 6px 15px 6px
    border-radius: 0
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.6)
    &-wrap
      bottom: rem24(55px)
      left: -15px
      width: calc(100% + 30px)
      padding: 23px 0 29px
    &:after
      display: none
    .bonus-line-content-modal-top
      margin-bottom: -7px
    .bonus-line-content-modal-top-info-caption
      margin-bottom: 0
      font-size: rem24(32px)
    .modal-close
      top: 33px
      right: 15px
      height: auto
      width: auto
      opacity: 1
      border-radius: 0
      background: none
      color: $linkColor
      font-size: rem24(24px)
      font-weight: 500
      text-transform: uppercase
      &:before
        content: 'Закрыть'
    &-item
      width: 80%
      height: rem24(40px)
      &-img
        display: none
      &-name
        height: rem24(40px)
        font-size: rem24(24px)
        padding: 10px 0 6px
      &-price
        display: none

@media (max-width: 640px)
  .cart-min-modal
    .modal-close
      font-size: rem24(20px)
    .bonus-line-content-modal-top-info-caption
      font-size: rem24(28px)

@media (max-width: 380px)
  .cart-min-modal-wrap
    bottom: calc(100% + 30px)
    padding: 0