.modal-mobile
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow-y: auto
  color: $mainFontColor
  background: $mainBg
  z-index: 2010
  border-radius: 0
  h3
    margin: 0 0 rem24(40px)
    font-size: rem24(40px)
    font-weight: 500
  &__close
    padding: 18px 30px 18px 108px
    font-size: rem24(40px)
    font-weight: 500
    background: $modalBg
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.6)
    &:before
      content: ''
      position: absolute
      top: rem24(42px)
      left: $mobileGutter
      background: $mainFontColor
      width: rem24(35px)
      height: 4px
      transform: rotate(45deg)
    &:after
      content: ''
      position: absolute
      top: rem24(42px)
      left: $mobileGutter
      background: $mainFontColor
      width: rem24(35px)
      height: 4px
      transform: rotate(-45deg)
  &__container
    margin: 0 auto
    width: 332px
    padding: 67px 0 18px 0
  &__container_full_width
    width: 100% !important

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .modal-mobile
    &__close
      padding: rem24(20px) $mobileGutter rem24(16px) 15vw
    &__container
      width: auto
      padding: rem24(50px) $mobileGutter 30px

  .delivery44
    width: 100%