.navigation
  height: $navHeight
  background: $navBg
  &.nav_is-open
    z-index: 1050
    position: fixed!important
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding-top: 19px
    overflow: auto
    .navigation__toggle:after
      content: attr(data-text-close)
    .navigation__burger
      background-color: transparent
      &:before
        top: 0
        transform: rotate(45deg)
      &:after
        bottom: 0
        transform: rotate(-45deg)
  &__wrapper
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      height: $navHeight
      background: $navBg
      top: 0
      left: 0
      right: 0
      z-index: 50
      .nav_is-open &
        height: 100%
        overflow-y: auto
    @media (max-width: 640px)
      height: auto
      padding: vw(5px) 0
  .container
    width: $mainContainerMdWidth
    .navigation-mobile-actions
      list-style: none
      margin: 4px 0
      font-size: 1.3rem
      a
        color: $navAColor
        padding: 0 10px 0 0
  &__menu
    position: relative
    list-style: none
    margin: 0
    margin-left: $mainGutter - $navAAsidePadding
    margin-right: $mainGutter - $navAAsidePadding
    padding: 0
    text-align: justify
    font-family: 'Roboto Condensed', sans-serif
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      display: none
      .nav_is-open &
        display: block
        margin: -2px $mobileGutter 0
        padding-top: 33px
        border-top: $headerColBorder
        li
          a
            font-size: rem24(40px)
    &:after
      content: ''
      display: inline-block
      height: 0
      width: 100%
    li
     display: inline-block
     @media (max-width: $mainContainerXsWidth+$mainGutter*2)
       display: block
     a
      display: inline-block
      font-weight: bold
      font-size: .8rem
      padding: .65rem $navAAsidePadding .65rem
      text-decoration: none
      position: relative
      text-transform: uppercase
      transition-property: none
      transition: color .3s ease!important
      overflow: hidden
      &:focus,
      &:active,
      &:visited,
      &
        color: $navAColor
        text-decoration: none
      &:hover
        color: $navAColorHover
        text-decoration: none
      &:before,
      &:after
        content: ''
        display: block
        position: absolute
        transition: all .3s ease
        background: $navABg
        height: $navABgHeight
        width: $navABgWidth
        top: .65rem
        @media (max-width: $mainContainerXsWidth+$mainGutter*2)
          top: 0.65em
      &:before
        left: -$navABgWidth
        background-position: left top
      &:after
        right: -$navABgWidth
        background-position: right top
    li.active a:before,
    li a:hover:before
      left: 0
      background-position: left top
    li.active a:after,
    li a:hover:after
      right: 0
      background-position: right top
    li.active a,
    li.active a:hover,
    li.active a:focus,
    li.active a:active,
    li.active a:visited
      color: $navAColorHover
      text-decoration: none
      cursor: default
    li.active a:before
      background-color: transparent
    li.navigation__li-action a
      color: $navActionColor
      background: $navActionBg
      padding-left: $navActionPaddingLeft
      @media (max-width: $mainContainerXsWidth+$mainGutter*2)
        color: $navAColor
        background: none
        padding-left: $navAAsidePadding
    li.navigation__li-action.active a,
    li.navigation__li-action a:hover
      background-position: $navActionBgPosHover
      color: $navAColorHover
  &__nav-mobile
    display: none
    border-top: $headerColBorder
    margin: 18px $mobileGutter 0
    padding: 31px 0
    li
      list-style-type: none
      padding: 33px 0 33px 68px
      font-size: rem24(32px)
      background-repeat: no-repeat
      background-position: 0 50%
      &:nth-child(1)
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#FFF" d="M24 0C10.745 0 0 10.745 0 24s10.745 24 24 24 24-10.745 24-24S37.254 0 24 0zm.014 7.358a7.385 7.385 0 1 1 0 14.77 7.385 7.385 0 0 1 0-14.77zm14.818 25.876v3.798H9.189v-3.798s-.399-7.396 14.876-7.396c15.274 0 14.767 7.396 14.767 7.396z"/></svg>')
      &:nth-child(2)
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48.032" height="41.969"><path fill="#FFF" d="M48.032 13.5c0-3.531-.813-3.5-4.517-3.5-.929 0-1.675.099-2.272.276-.626-2.494-1.468-5.822-1.838-7.156C38.78.87 36.62 0 35.01 0H12.933c-1.59 0-3.776.808-4.338 3.12a882.223 882.223 0 0 1-1.813 7.154C6.185 10.098 5.44 10 4.516 10 .811 10 0 9.969 0 13.5c0 3.391 1.866 3.497 4.222 3.5A5.32 5.32 0 0 0 3 20.375v18.594a3 3 0 0 0 3 3h4a3 3 0 0 0 3-3V37h22v1.969a3 3 0 0 0 3 3h4c1.656 0 3-1.344 3-3v-5.872c.001-.033.01-.063.01-.097V20.875c0-1.209-.182-2.487-1.273-3.875 2.391-.001 4.295-.075 4.295-3.5zM11.668 6.985c.438-1.563 1.08-3.017 3.136-3.017h18.459c1.969 0 2.481 1.407 3.044 2.97.478 1.325 1.22 4.982 1.434 6.062H10.214c.246-1.072 1.083-4.689 1.454-6.015zm-.676 21.99a3.982 3.982 0 1 1 0-7.965 3.983 3.983 0 0 1 0 7.965zm26 0a3.983 3.983 0 1 1 0-7.965 3.983 3.983 0 0 1 0 7.965z"/></svg>')
      &:nth-child(3)
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="47.985" height="47.985"><path fill="#FFF" d="M23.993 0C10.743 0 0 10.742 0 23.992c0 13.251 10.743 23.993 23.993 23.993s23.992-10.742 23.992-23.993C47.985 10.742 37.244 0 23.993 0zm.002 44.01c-11.053 0-20.014-8.961-20.014-20.015S12.942 3.98 23.995 3.98c11.054 0 20.014 8.961 20.014 20.015S35.049 44.01 23.995 44.01zm.047-6.061a13.356 13.356 0 0 0 12.279-8.027H11.764a13.354 13.354 0 0 0 12.278 8.027zm-9.071-15.97a4.002 4.002 0 1 0-.002-8.004 4.002 4.002 0 0 0 .002 8.004zm17.999-8.003a4.001 4.001 0 1 0 0 8.003 4.001 4.001 0 0 0 0-8.003z"/></svg>')
      &:nth-child(4)
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48.018" height="47.97"><path fill="#FFF" d="M40.49 13.756l-.197 1.45-1.242 1.917 4.964 1.6v23.984L33 39.172V26.426l-3.207 3.915-.796-.954v10.337l-9.993 3.251V18.921l.99-.32-.636-.762-.452-2.703-3.196 1.034L0 10.968v31.8l15.667 5.202 16.127-5.202 16.223 5.202v-31.8l-7.527-2.414zM15.002 43.842l-11-3.615V16.193l11 3.563v24.086z"/><path fill="#FFF" d="M29.006 0C22.391 0 17.03 5.34 17.03 11.953c0 10.429 11.976 20.428 11.976 20.428S40.98 22.382 40.98 11.953C40.98 5.34 35.619 0 29.006 0zm-.017 16.972a4.966 4.966 0 0 1 0-9.929 4.965 4.965 0 1 1 0 9.929z"/></svg>')
      a
        color: $navAColor
        text-decoration: none
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      .nav_is-open &
        display: block
  &__toggle
    position: relative
    display: none
    margin-left: $mobileGutter
    padding: 0 0 0 54px
    border: none
    color: $navAColor
    white-space: nowrap
    background-color: transparent
    font-weight: 500
    font-size: rem24(40px)
    line-height: $navHeight
    vertical-align: middle
    opacity: 1
    transition: all .3s ease
    &:hover
      opacity: .8
    &:focus
      outline: none
    &:after
      content: attr(data-text-open)
      display: inline-block
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      display: inline-block
    @media (max-width: 640px)
      padding-left: vw(65px)
  &__burger
    $height: 4px
    position: absolute
    display: inline-block
    top: 50%
    margin-top: -($height/2)
    left: 0
    width: 37px
    height: $height
    background-color: $navAColor
    transition: all .3s ease
    &:before,
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      height: $height
      background-color: $navAColor
      transform: rotate(0)
      transition: all .3s ease
    &:before
      top: -10px
    &:after
      bottom: -10px
    @media (max-width: 640px)
      width: vw(45px)
      height: 3px
      &:before,
      &:after
        height: 3px
      &:before
        top: vw(-10px)
      &:after
        bottom: vw(-10px)