.b-special-offer
	background-color: #e8e4d4
	padding-top: 40px
	padding-bottom: 40px
	.row
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-box-pack: center
		-ms-flex-pack: center
		-webkit-justify-content: center
		justify-content: center
		.thumbnail
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			max-width: 1015px
			width: 100%
			margin-top: 28px
	.thumbnail
		margin-bottom: 0px
		float: none
		&__container
			margin-left: 30px
			min-width: 437px
		&__img
			margin-left: 15px
		&__caption
			font-size: 35px
			color: #353535
		&__description
			font-size: 22px
			color: #353535
			margin-top: 30px
		&__size
			margin-top: 21px
		&__radio
			margin-top: 10px
		&__radio label
			font-size: 26px
			color: #525252
			min-width: 540px
			padding-left: 33px
		&__ribbon
			position: relative
		&__ribbon-text
			position: absolute
			top: 16px
			font-weight: bold
			left: 0
			width: 100%
			text-transform: uppercase
			font-size: 26px
			color: #fff 
			text-align: center
		&__price
			font-size: 40px
			border-right: 4px solid #fff
			padding-top: 5px
		&__caption
			line-height: 25px
		&__buy span
			font-size: 18px
		&__add-to-cart
			font-size: 30px
		&__bottom
			height: auto
			min-height: 64px
			padding-top: 8px
			margin-top: 30px

	.popover .thumbnail__radio label:before, .thumbnails .thumbnail__radio label:before
		width: 23px
		height: 23px
		top: 4px 
		margin-right: 15px
	.popover .thumbnail__radio input[type=radio]:checked+label:after, .thumbnails .thumbnail__radio input[type=radio]:checked+label:after
		top: 10px
		left: 7px
		width: 11px
		height: 11px
.thumbnail__ribbon
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-box-pack: center
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center
