.section
  margin: 1.7rem 0 2rem
  .container
    width: $mainContainerSmWidth
  &__content
    @include col(100%)
    @include clearfix()
  &__img
    position: relative
    float: left
    text-align: right
    width: $sectionImgWidth
    padding: 0.25em $sectionImgVertPad
    img
      display: inline-block
      max-width: 100%
  &__text
    margin-left: $sectionImgWidth
  &__caption
    margin: 1rem 0 0
    font-size: 1.5rem
    line-height: 1
    font-weight: 300
    letter-spacing: 0.15rem
    text-transform: uppercase
  &__description
    color: #cfcfcf
    font-size: .7rem
    line-height: 1.45

.section-2-first
  margin: 0 0 2rem !important
.section-2
  position: relative
  overflow: hidden
  margin: 1.7rem 0 2rem
  .container
    width: $mainContainerSmWidth
  &__content
    @include col(100%)
    @include clearfix()
  &__text
    text-align: center
    @media (max-width: $mainContainerXsWidth+$mainGutter*2)
      text-align: left
  &__caption
    margin: 1.2rem 0 1.1rem
    font-size: 1.5rem
    line-height: 1
    font-weight: 400
    //font-family: 'Appetite', fantasy
    font-family: 'Roboto', sans-serif
    letter-spacing: 0.15rem
    text-transform: uppercase
    &-span
      position: relative
      display: inline-block
      padding: 0 18px
      @media (max-width: $mainContainerXsWidth+$mainGutter*2)
        padding: 0
      &:before,
      &:after
        content: ''
        position: absolute
        bottom: 0
        width: 9999em
        height: 32px
      &:before
        right: 100%
        background: $section2BgLeft
        @media (max-width: $mainContainerXsWidth+$mainGutter*2)
          background: none
      &:after
        left: 100%
        background: $section2BgRight
        @media (max-width: $mainContainerXsWidth+$mainGutter*2)
          background: none
  &__description
    font-size: .8rem
    line-height: 1.45

@media (max-width: 640px)
  .section
    &__img
      float: none
    &__text
      margin-left: 0