.slider
  position: relative
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent
  &__item
    position: relative
    text-align: center
    background-position: center center
    background-repeat: no-repeat
    overflow: hidden
    &_btns
      background-size: cover
    &:hover,
    &:active,
    &:focus,
    &:visited
      outline: none
    img
      max-width: 100%
    &-img
      width: 300%
      margin: 0 -100%
    .container
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: $mainContainerMdWidth
    &-col
      margin: 0 auto
      position: relative
      color: #fff
      text-align: left
      padding: 0 0 2rem
      &.center
        text-align: center
        margin-left: auto
        margin-right: auto
        max-width: 50%
      &_2
        padding-left: 7rem
      &-description
        font-size: 1rem
        line-height: 1
        margin: .1rem 0 .2rem
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.9)
      &-caption
        font-size: 1.8rem
        line-height: 1
        margin: .1rem 0 .7rem
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.9)
      &-btn
        padding-left: 3rem
        padding-right: 1rem
        position: relative
        z-index: 5
        @include color(#fff)
        &,
        &:hover,
        &:active,
        &:visited,
        &:focus
          background-image: url("../img/slider__item-col-btn.png")
          background-repeat: no-repeat
          background-position: 19px 8px

@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .slider__item-col_2
    padding-left: 0
    margin-left: -1rem

.slick
  &-list
    position: relative
    display: block
    overflow: hidden
    margin: 0
    padding: 0
    &:focus
      outline: none
    &.dragging
      cursor: pointer
      cursor: hand
  &-track,
  &-list
    transform: translate3d(0, 0, 0)
  &-track
    position: relative
    top: 0
    left: 0
    display: block
    @include clearfix()
  &-loading .slick-track
    visibility: hidden
  &-slide
    display: none
    float: left
    height: 100%
    min-height: 1px
    img
      display: block
      margin: 0 auto
  &-slide.slick-loading
    img
      display: none
  &-slide.dragging
    img
      pointer-events: none
  &-initialized .slick-slide
    display: block
  &-loading .slick-slide
    visibility: hidden
  &-vertical .slick-slide
    display: block
    height: auto
    border: 1px solid transparent
  &-arrow.slick-hidden
    display: none
  &-dots
    position: absolute
    bottom: 20px
    left: 0
    right: 0
    margin: 0 auto
    text-align: center
    li
      display: inline-block
      margin: 0 10px
      @media (max-width: $mainContainerXsWidth+$mainGutter*2)
        margin: 0 4px
      button
        display: inline-block
        -webkit-border-radius: 20px
        -moz-border-radius: 20px
        border-radius: 20px
        outline: none
        height: 18px
        width: 18px
        border: 1px solid #f1f1f1
        background-color: #dadada
        -webkit-transition: all .3s ease
        -moz-transition: all .3s ease
        -ms-transition: all .3s ease
        -o-transition: all .3s ease
        transition: all .3s ease
        font-size: 0
        padding: 0
        opacity: .7
        &:hover
          background-color: #fff
        &:active
          -webkit-box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3)
          -moz-box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3)
          box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3)
        @media (max-width: $mainContainerXsWidth+$mainGutter*2)
          width: 24px
          height: 24px


[dir='rtl'] .slick-slide
  float: right