.row_tags .caption
  &-h2,
  &-h3
    float: left
    @include col(40%)

.tags
  position: relative
  float: right
  @include col(55%)
  text-align: right
  font-size: $tagsSize
  font-family: 'Arial', sans-serif
  line-height: 1.2
  &__item
    position: relative
    display: inline-block
    white-space: nowrap
    margin: .5rem 0 .5rem .75rem
    padding-right: 0
    text-decoration: none
    font-weight: normal
    color: $tagsColor!important
    transition: all .3s ease
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0
      border-bottom: 1px dashed $tagsColor
      transition: all .3s ease
    &:hover
      text-decoration: none
      color: $tagsActiveColor
      &:after
        border-color: transparent
    &.active,
    &:active
      padding-right: 16px
      color: $tagsActiveColor
      font-weight: bold
      &:before
        content: ''
        position: absolute
        width: 10px
        height: 10px
        top: 3px
        right: 1px
        background: url("../img/tag__item_active.png")no-repeat 0 0
      &:after
        border-color: transparent
.caption-h2 + .tags
  margin-top: 2rem
.caption-h3 + .tags
  margin-top: 0