.thumbnails,
.popover
  .thumbnail
    @include col(100%/$thumbnailNumXl)
    margin-bottom: 2.75rem
    &:nth-child( #{$thumbnailNumXl}n + 1)
      clear: left
    &__select
      position: relative
      display: block
      width: 100%
      height: 1.95rem
      border-radius: $thumbnailSelectRadius
      line-height: 1.45
      font-size: $thumbnailSelectFontSize
      font-family: Arial, sans-serif
      -webkit-appearance: none
      padding: .2rem 2rem .2rem .5rem
      background-color: $thumbnailSelectBg
      -moz-appearance: none
      text-indent: 0.01px
      text-overflow: ''
      -ms-appearance: none
      appearance: none!important
      font-weight: bold
      color: $thumbnailSelectColor
      border: 1px solid $thumbnailSelectBorderColor
      outline: none
      &-wrapper
        position: relative
        margin-bottom: .5rem
        &:after
          content: ''
          display: inline-block
          position: absolute
          border: none
          padding: 0
          background-color: transparent
          height: 0
          width: 0
          top: .8rem
          right: .8rem
          border-left: .35rem solid transparent
          border-right: .35rem solid transparent
          outline: 0
          opacity: 1
          -webkit-transition: opacity .3s ease
          transition: opacity .3s ease
          text-decoration: none
          border-top: .45rem solid $thumbnailSelectColor
      & *,
      &:active,
      &:hover,
      &:focus,
      &:active
        outline: none
      &::-ms-expand
        display: none
    &__img
      position: relative
      width: 100%
      margin-bottom: .8rem
      border: $thumbnailImageBorder
      img
        display: block
        width: 100%
    &__caption
      position: relative
      margin-bottom: $thumbnailCaptionMarginBottom
      font-family: 'Arial', sans-serif
      font-weight: bold
      font-size: $thumbnailCaptionSize
      color: $thumbnailCaptionColor
    &__description
      position: relative
      margin-bottom: .5rem
      font-family: 'Arial', sans-serif
      line-height: 1.45
      font-size: $thumbnailDescriptionSize
      color: $thumbnailDescriptionColor
    &__weight
      position: relative
      margin-bottom: .5rem
      font-family: 'Arial', sans-serif
      line-height: 1.45
      font-size: $thumbnailWeightSize
      font-weight: bold
      color: $thumbnailWeightColor
    &__bottom
      position: relative
      display: inline-block
      background-color: $btnBg
      @include transparency()
      @include clearfix()
      height: 1.95rem
      border-radius: $btnBorderRadius
      user-select: none
      padding: .2rem .5rem .15rem
      margin-top: .35rem
      cursor: pointer
      color: $btnFontColor
    &__price
      float: left
      border-right: 1px solid $btnFontColor
      padding: 1px .5rem .2rem 0
      margin-right: .5rem
      font-size: $thumbnailPriceFontSize
      font-weight: bold
      line-height: 0.8
      margin-top: $thumbnailPriceMarginTop
    &__buy
      float: left
      white-space: nowrap
      span
        display: block
        font-size: .55rem
        line-height: 0.8
        margin: .2rem 0 0
    &__add-to-cart
      padding: 0 0 .1rem
      font-size: .9rem
      font-weight: bold
      line-height: 1
    &__buy-more
      display: inline-block
      position: relative
      font-size: $thumbnailPriceBuyMoreFontSize
      font-family: 'Arial', sans-serif
      top: .2rem
      &-control
        display: inline-block
        position: relative
        margin-left: .2rem
      &-minus,
      &-plus
        display: inline-block
        position: relative
        border: none
        padding: 0
        background-color: transparent
        height: 0
        width: 0
        top: -.1rem
        margin: 0 1px
        cursor: pointer
        border-top: .35rem solid transparent
        border-bottom: .35rem solid transparent
        outline: none
        @include transparency()
      &-minus
        border-right: .45rem solid $btnFontColor
      &-plus
        border-left: .45rem solid $btnFontColor
      &-num
        display: inline-block
        font-size: .9rem
        font-family: 'Arial', sans-serif
        position: relative
        top: .2rem
    &__bottom_selected:hover
      opacity: 1
    &__size
      margin-top: -.2rem
      margin-bottom: .4rem
    &__radio
      line-height: 1.3
    &__radio + &__radio
      margin-top: .3rem
    &__radio label
      display: inline-block
      cursor: pointer
      position: relative
      padding-left: 1.05rem
      color: $mainFontColor
      font-size: .8rem
      font-weight: bold
    &__radio label:before
      content: ""
      display: inline-block
      width: .7rem
      height: .7rem
      margin-right: .5rem
      position: absolute
      left: 1px
      top: .15rem
      border: 1px solid $mainFontColor
      background-color: transparent
      border-radius: .8rem
    &__radio input[type=radio]
      display: none
    &__radio input[type=radio]:checked + label:before
      border-color: $btnBg
    &__radio input[type=radio]:checked + label:after
      content: ""
      display: inline-block
      width: .3rem
      height: .3rem
      margin-right: .5rem
      position: absolute
      top: .35rem
      left: .25rem
      background-color: $btnBg
      border-radius: .4rem


.old-price
  text-decoration: line-through!important
  font-weight: 400!important
  display: inline-block
  margin-right: .3rem


@media (max-width: $mainContainerXlWidth+$mainGutter*2)
  .thumbnails
    .thumbnail
      @include col(100%/$thumbnailNumXs)
      &:nth-child( #{$thumbnailNumXl}n + 1)
        clear: initial
      &:nth-child( #{$thumbnailNumXs}n + 1)
        clear: left

@media (max-width: $mainContainerXsWidth+$mainGutter*2)
  .thumbnails
    .thumbnail
      @include col(100%)


.popover
  .thumbnail
    height: auto!important
    width: 100%!important
    text-align: left!important
    padding-top: 1rem
    padding-bottom: 1rem
    margin-bottom: 0

//sticker
.sticker
  position: relative
  margin-bottom: 10px
  color: white
  width: auto
  padding: 0 11px 3px 9px
  letter-spacing: -0.7px
  font-weight: bold
  font-size: 19px
  text-transform: lowercase
  display: inline-block
  &:before
    content: ''
    position: absolute
    top: 100%
    left: 0
    border-top: 8px solid
    border-right: 0 solid
    border-left: 8px solid transparent
  &__wrap
    position: absolute
    z-index: 9
    top: 11px
    left: -8px + $mainGutter

  @each $sticker, $color in $sticker-colors
    &__#{$sticker}
      background: $color
      &:before
        border-right-color: darken($color, 25%)
        border-top-color: darken($color, 25%)
