.navigation-left
  list-style: none
  padding: 0
  position: relative
  float: left
  width: 69%

.navigation-cart-name
  color: $topCartFontColor
  font-size: 24px
  text-decoration: none
  display: block
  position: relative
  float: left

.navigation-cart-price
  font-weight: bold
  font-size: 24px
  margin: 0 0 0 107px

.navigation-cart-price a,
.navigation-cart-price a:hover,
.navigation-cart-price a:focus,
.navigation-cart-price a:active,
.navigation-cart-price a:visited
  color: $topCartFontColor
  text-decoration: none

.navigation-cart-price a
  position: relative

.navigation-cart-price a:before
  content: ''
  position: absolute
  display: block
  bottom: 1px
  left: 0
  right: 0
  border-bottom: 1px dashed $topCartFontColor

.navigation-cart-price a:hover:before
  display: none

.bonus-line-content
  margin-left: 0 !important
  .bonus-line-content-modal
    right: auto
    left: 0
    &:before
      left: 70px !important

.navigation-cart
  float: right
  width: 300px
  height: 44px
  background-color: $topCartBg
  color: $topCartFontColor
  background-position: 43px center
  background-repeat: no-repeat
  background-image: url("../img/navigation-cart.png")
  padding: 9px 2px 1px 77px
  margin-right: 20px
  position: relative
  .bonus-line-content-modal.cart-modal .bonus-line-content-modal-top
    margin-bottom: 18px
  .bonus-line-content-modal.cart-modal
    &:before
      content: ''
      position: absolute
      bottom: inherit
      top: -27px
      left: inherit
      right: 70px
      border-left: 17px solid transparent
      border-right: 17px solid transparent
      border-top: none
      border-bottom: 29px solid $modalBg
  .bonus-line-content-modal-bottom
    margin-right: 0 !important
  .bonus-line-content-modal
    bottom: inherit
    top: 64px
    position: absolute
    -webkit-border-radius: 24px
    -moz-border-radius: 24px
    border-radius: 24px
    -webkit-box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
    box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.23)
    right: 0 !important
    left: auto !important
    z-index: 99
    background: $modalBg
    border: 1px solid $modalBg !important
    color: $modalFontColor
    padding: 1rem
    .chef-gift-caption span
      background: $modalBg
      color: $modalFontColor
    .chef-gift-caption:before
      border-color: $modalBorderSecondary
  .bonus-line-content-modal
    &:before
      content: ''
      position: absolute
      bottom: -26px
      left: 142px
      border-left: 17px solid transparent
      border-right: 17px solid transparent
      border-top: 29px solid $modalBg
  .cart-min-modal-wrap
    left: inherit
    right: -15px
    bottom: inherit
    top: 35px
    padding: 30px 15px 15px
  .cart-min-modal
    padding: 20px 15px 15px 20px
    &:after
      display: none
  .cart-min-modal-wrap
    margin-bottom: 18px
  .cart-min-modal
    &:before
      content: ''
      position: absolute
      bottom: inherit
      top: -27px
      left: inherit
      right: 70px
      border-left: 17px solid transparent
      border-right: 17px solid transparent
      border-top: none
      border-bottom: 29px solid $modalBg